.n-removebg-preview-17-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey3 {
  color: var(--color-gray-400);
}
.xin-cho-container3 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.lch-child {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.lch-inner,
.lch-item {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.lch-inner {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.lch-child4,
.lch-child5,
.lch-child6 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.lch-child5,
.lch-child6 {
  top: 79px;
  left: 147px;
  height: 7px;
}
.lch-child6 {
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.lch-child7 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.lch-child10,
.lch-child8 {
  position: absolute;
  box-sizing: border-box;
}
.lch-child8 {
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  width: 27px;
  height: 4px;
}
.lch-child10 {
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  width: 4px;
  height: 55px;
}
.me8 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.lch-child11,
.lch-child12 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.lch-child12 {
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.lch-child13,
.me9 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me9 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-list-24px3,
.ic-view-module-24px3,
.vector-icon59 {
  position: absolute;
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px3,
.vector-icon59 {
  right: 3.12%;
  left: 95.63%;
}
.vector-icon59 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div69,
.div70 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div70 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent1 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div72 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon60 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent1 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view3 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.button-black-child3,
.rectangle25 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child3 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div73,
.vector-icon61 {
  position: absolute;
  top: 27.27%;
}
.vector-icon61 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div73 {
  left: 14.86%;
  font-weight: 500;
}
.button-black5 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio5 {
  margin: 0;
}
.b16,
.div74,
.puressio-belnuoritto-bancherio-container5 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b16,
.div74 {
  top: 4.87%;
  left: 104.94%;
}
.div74 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon5 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div75,
.fa-solidtenge-icon5,
.rectangle-icon5 {
  position: absolute;
  display: none;
}
.div75 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon5 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v25 {
  position: absolute;
  top: 271px;
  left: 436px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b17,
.g3 {
  position: absolute;
  display: none;
}
.b17 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.g3 {
  top: 11.85%;
  left: 16.43%;
}
.div76,
.div77,
.div78,
.div79,
.div80 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div76 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div77,
.div78,
.div79,
.div80 {
  top: 25.25%;
  color: var(--color-black);
}
.div78,
.div79,
.div80 {
  top: 31.95%;
}
.div79,
.div80 {
  top: 38.65%;
}
.div80 {
  top: 45.35%;
}
.div81,
.vector-icon62,
.vector-icon63 {
  position: absolute;
  top: 52.05%;
  left: 19.93%;
  display: none;
}
.vector-icon62,
.vector-icon63 {
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon63 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon64,
.zg3 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon64 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div82,
.vector-icon65 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon65 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div83,
.vector-icon66 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon66 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div84,
.vector-icon67 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon67 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div85,
.vector-icon68 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon68 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d6,
.vector-icon69 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon69 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d7,
.vector-icon70 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon70 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div86,
.vector-icon71 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon71 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div87 {
  top: 92.25%;
  left: 16.43%;
}
.div87,
.div88,
.vector-icon72 {
  position: absolute;
  display: none;
}
.vector-icon72 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div88 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu3 {
  position: absolute;
  top: 271px;
  left: 68px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon4 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon73,
.vector-icon74,
.vector-icon75,
.vector-icon76,
.vector-icon77 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 52.7%;
  right: 80.29%;
  bottom: 46.84%;
  left: 19.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon74,
.vector-icon75,
.vector-icon76,
.vector-icon77 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  right: 80.16%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon75,
.vector-icon76,
.vector-icon77 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon76,
.vector-icon77 {
  top: 59.29%;
  bottom: 40.02%;
}
.vector-icon77 {
  top: 65.59%;
  bottom: 33.73%;
}
.danh-mc3,
.phn-cng-vic3,
.qun-l-lng4,
.qun-l-nhn3,
.qut-vn-tay4,
.tnh-lng3 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  display: inline-block;
}
.danh-mc3,
.phn-cng-vic3,
.qun-l-lng4,
.qut-vn-tay4,
.tnh-lng3 {
  top: 45.03%;
}
.danh-mc3,
.phn-cng-vic3,
.qun-l-lng4,
.qut-vn-tay4 {
  top: 58.21%;
  left: 6.26%;
  color: var(--color-gray-600);
}
.danh-mc3,
.phn-cng-vic3,
.qun-l-lng4 {
  top: 64.8%;
}
.danh-mc3,
.qun-l-lng4 {
  top: 51.62%;
  color: var(--color-dodgerblue);
}
.danh-mc3 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.rectangle26 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell20,
.cell21,
.cell22,
.cell23,
.cell24,
.cell25,
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  position: absolute;
  top: 330px;
  left: 524px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 225px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell21,
.cell22,
.cell23,
.cell24,
.cell25,
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  top: 283px;
  left: 1190px;
  height: 39px;
}
.cell22,
.cell23,
.cell24,
.cell25,
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  top: 330px;
  left: 968px;
  width: 226px;
  height: 63px;
}
.cell23,
.cell24,
.cell25,
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 1190px;
  width: 225px;
}
.cell24,
.cell25,
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 745px;
  width: 227px;
}
.cell25,
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  top: 723px;
  left: 524px;
  width: 225px;
}
.cell26,
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 968px;
  width: 226px;
}
.cell27,
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 1190px;
  width: 225px;
}
.cell28,
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 745px;
  width: 227px;
}
.cell29,
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  top: 525px;
  left: 525px;
  width: 225px;
}
.cell30,
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 969px;
  width: 226px;
}
.cell31,
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 1191px;
  width: 225px;
}
.cell32,
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 746px;
  width: 227px;
}
.cell33,
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  top: 426px;
  left: 526px;
  background-color: var(--color-aliceblue-100);
  width: 225px;
}
.cell34,
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 970px;
  width: 226px;
}
.cell35,
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 1192px;
  width: 225px;
}
.cell36,
.cell37,
.cell38,
.cell39,
.cell40 {
  left: 747px;
  width: 227px;
}
.cell37,
.cell38,
.cell39,
.cell40 {
  top: 624px;
  left: 524px;
  width: 225px;
}
.cell38,
.cell39,
.cell40 {
  left: 968px;
  width: 226px;
}
.cell39,
.cell40 {
  left: 1190px;
  width: 225px;
}
.cell40 {
  left: 745px;
  width: 227px;
}
.h-v-tn1 {
  position: absolute;
  height: 2.06%;
  width: 5.77%;
  top: 34.51%;
  left: 50.34%;
  display: inline-block;
}
.div89,
.div90,
.mun-gi,
.nh-gi,
.nv-012,
.sm-gi,
.thi-gian {
  position: absolute;
  height: 2.06%;
  width: 5.15%;
  top: 34.81%;
  left: 64.6%;
  display: inline-block;
}
.div89,
.div90,
.mun-gi,
.nh-gi,
.nv-012,
.sm-gi {
  width: 6.82%;
  left: 77.62%;
}
.div89,
.div90,
.mun-gi,
.nv-012,
.sm-gi {
  width: 3.84%;
  top: 43.85%;
  left: 37.51%;
}
.div89,
.div90,
.mun-gi,
.sm-gi {
  width: 10.6%;
  top: 44.05%;
  left: 62%;
}
.div90,
.mun-gi,
.sm-gi {
  width: 10.85%;
  top: 53.39%;
  left: 61.75%;
}
.mun-gi,
.sm-gi {
  width: 4.9%;
  top: 43.95%;
  left: 78.3%;
}
.sm-gi {
  width: 5.15%;
  top: 53.29%;
  left: 78.36%;
}
.div91,
.div92,
.m-nhn-vin1,
.ng-gi,
.ng-gi1,
.nv-022,
.nv-032,
.nv-042 {
  position: absolute;
  height: 2.06%;
  width: 4.9%;
  top: 63.52%;
  left: 78.12%;
  display: inline-block;
}
.div91,
.div92,
.m-nhn-vin1,
.ng-gi1,
.nv-022,
.nv-032,
.nv-042 {
  top: 72.76%;
}
.div91,
.div92,
.m-nhn-vin1,
.nv-022,
.nv-032,
.nv-042 {
  width: 10.79%;
  top: 63.42%;
  left: 61.31%;
}
.div92,
.m-nhn-vin1,
.nv-022,
.nv-032,
.nv-042 {
  width: 10.11%;
  top: 72.96%;
  left: 61.62%;
}
.m-nhn-vin1,
.nv-022,
.nv-032,
.nv-042 {
  width: 3.84%;
  top: 53.29%;
  left: 37.57%;
}
.m-nhn-vin1,
.nv-032,
.nv-042 {
  top: 63.42%;
  left: 37.63%;
}
.m-nhn-vin1,
.nv-042 {
  top: 73.25%;
  left: 37.51%;
}
.m-nhn-vin1 {
  width: 7.19%;
  top: 34.51%;
  left: 35.96%;
}
.cao-l-tuyt1,
.nguyn-bo-anh1,
.nguyn-th-hong1,
.t-quang-nh1 {
  position: absolute;
  height: 2.06%;
  width: 12.28%;
  top: 43.95%;
  left: 47.86%;
  display: inline-block;
}
.cao-l-tuyt1,
.nguyn-th-hong1,
.t-quang-nh1 {
  width: 13.21%;
  top: 53.1%;
  left: 46.93%;
}
.cao-l-tuyt1,
.t-quang-nh1 {
  top: 63.42%;
  left: 47.43%;
}
.t-quang-nh1 {
  width: 8.31%;
  top: 72.96%;
  left: 49.04%;
}
.lch-child24 {
  position: absolute;
  top: 548.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 119.5px;
  height: 0.5px;
}
.lch-child25,
.lch-child26,
.lch-child27,
.lch-child28 {
  position: absolute;
  top: 871px;
  left: 1442px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.lch-child26,
.lch-child27,
.lch-child28 {
  left: 1468px;
  background-color: var(--color-lightsteelblue-100);
}
.lch-child27,
.lch-child28 {
  left: 1494px;
}
.lch-child28 {
  left: 1520px;
}
.b18,
.b19 {
  position: absolute;
  top: 878px;
}
.b18 {
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b19 {
  left: 1477px;
  width: 8px;
}
.b19,
.b20,
.b21 {
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  height: 14px;
}
.b20 {
  position: absolute;
  top: 878px;
  left: 1503px;
  width: 8px;
}
.b21 {
  top: 877px;
  left: 1525px;
  width: 16px;
}
.b21,
.icon5,
.ngy-trc {
  position: absolute;
}
.icon5 {
  height: 2.75%;
  width: 1.74%;
  top: 28.42%;
  right: 23.31%;
  bottom: 68.83%;
  left: 74.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ngy-trc {
  top: 299px;
  left: 1295px;
  font-size: var(--font-size-mini);
  line-height: 6.16px;
  font-weight: 500;
  color: var(--gray-900);
  display: flex;
  align-items: center;
}
.iconssmallarrowdown {
  position: absolute;
  top: 296px;
  left: 1391px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child1,
.lch-child29 {
  position: absolute;
  top: 0;
  left: 0;
}
.lch-child29 {
  background-color: rgba(217, 217, 217, 0.5);
  width: 1613px;
  height: 1017px;
}
.group-child1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
.group-child2 {
  position: absolute;
  height: 8.4%;
  width: 9.16%;
  top: 33.61%;
  right: 19.12%;
  bottom: 57.98%;
  left: 71.71%;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
}
.div93 {
  position: absolute;
  height: 5.09%;
  width: 15.08%;
  top: 8.59%;
  left: 61.39%;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.div94,
.div95,
.div96,
.div97,
.div98,
.div99,
.fr,
.mo,
.su,
.we {
  position: absolute;
  height: 5.88%;
  width: 7.97%;
  top: 22.69%;
  left: 9.56%;
  display: inline-block;
}
.div94,
.div95,
.div96,
.div97,
.div98,
.div99,
.fr,
.su,
.we {
  width: 5.18%;
  left: 61.35%;
}
.div94,
.div95,
.div96,
.div97,
.div98,
.div99,
.su,
.we {
  width: 8.37%;
  left: 34.26%;
}
.div94,
.div95,
.div96,
.div97,
.div98,
.div99,
.su {
  width: 6.37%;
  left: 86.45%;
}
.div94,
.div95,
.div96,
.div97,
.div98,
.div99 {
  width: 5.58%;
  top: 62.18%;
  left: 61.35%;
}
.div95,
.div96,
.div97,
.div98,
.div99 {
  width: 5.18%;
  top: 48.32%;
}
.div96,
.div97,
.div98,
.div99 {
  width: 6.77%;
  top: 75.63%;
}
.div97,
.div98,
.div99 {
  top: 87.82%;
}
.div98,
.div99 {
  width: 5.98%;
  top: 75.63%;
  left: 22.31%;
}
.div99 {
  top: 62.18%;
}
.div100 {
  width: 5.18%;
  top: 48.32%;
  left: 22.31%;
}
.div100,
.div101,
.div102,
.div103,
.text {
  position: absolute;
  height: 5.88%;
  display: inline-block;
}
.div101 {
  width: 5.18%;
  top: 48.32%;
  left: 36.25%;
}
.div102,
.div103,
.text {
  top: 34.87%;
  left: 22.31%;
}
.div102,
.div103 {
  width: 5.98%;
  top: 87.82%;
}
.div103 {
  top: 75.63%;
  left: 9.56%;
}
.div104 {
  width: 5.98%;
  top: 62.18%;
}
.div104,
.div105,
.div106,
.div107 {
  position: absolute;
  height: 5.88%;
  left: 9.56%;
  display: inline-block;
}
.div105 {
  width: 4.78%;
  top: 48.32%;
}
.div106,
.div107 {
  width: 6.37%;
}
.div106 {
  top: 34.87%;
  color: var(--color-darkgray-100);
}
.div107 {
  top: 87.82%;
}
.div108,
.div109,
.div110,
.div111,
.div112,
.div113,
.div114 {
  position: absolute;
  height: 5.88%;
  width: 5.98%;
  top: 62.18%;
  left: 74.1%;
  display: inline-block;
}
.div109,
.div110,
.div111,
.div112,
.div113,
.div114 {
  top: 48.32%;
}
.div110,
.div111,
.div112,
.div113,
.div114 {
  width: 5.58%;
  top: 34.87%;
}
.div111,
.div112,
.div113,
.div114 {
  width: 6.77%;
  top: 75.63%;
}
.div112,
.div113,
.div114 {
  width: 5.98%;
  top: 87.82%;
}
.div113,
.div114 {
  width: 5.58%;
  top: 75.63%;
  left: 35.46%;
}
.div114 {
  top: 62.18%;
}
.div115,
.div116 {
  top: 34.87%;
  color: var(--color-gray-200);
}
.div115 {
  position: absolute;
  height: 5.88%;
  width: 6.37%;
  left: 35.46%;
  display: inline-block;
}
.div116 {
  width: 5.98%;
  left: 22.31%;
}
.div116,
.div117,
.div118,
.div119,
.div120,
.div121,
.div122 {
  position: absolute;
  height: 5.88%;
  display: inline-block;
}
.div117 {
  width: 6.77%;
  top: 34.87%;
  left: 59.76%;
  color: var(--color-gray-200);
}
.div118,
.div119,
.div120,
.div121,
.div122 {
  width: 6.37%;
  top: 87.82%;
  left: 35.46%;
}
.div119,
.div120,
.div121,
.div122 {
  width: 5.98%;
  top: 62.18%;
  left: 86.85%;
}
.div120,
.div121,
.div122 {
  top: 48.32%;
}
.div121,
.div122 {
  width: 5.18%;
  top: 34.87%;
  left: 87.65%;
}
.div122 {
  width: 6.37%;
  top: 75.63%;
  left: 86.45%;
}
.span {
  color: var(--color-darkgray-100);
}
.div123,
.div124,
.div125 {
  position: absolute;
  height: 5.88%;
  width: 4.78%;
  top: 87.82%;
  left: 88.05%;
  display: inline-block;
}
.div124,
.div125 {
  width: 5.98%;
  top: 75.63%;
  left: 49%;
}
.div125 {
  width: 5.58%;
  top: 62.18%;
}
.div126 {
  width: 5.58%;
  top: 48.32%;
}
.div126,
.div127,
.div128,
.sa,
.th2,
.tu {
  position: absolute;
  height: 5.88%;
  left: 49%;
  display: inline-block;
}
.div127 {
  width: 4.38%;
  top: 34.87%;
  color: var(--color-gray-200);
}
.div128,
.sa,
.th2,
.tu {
  width: 5.98%;
  top: 87.82%;
}
.sa,
.th2,
.tu {
  top: 22.69%;
  left: 22.31%;
}
.sa,
.th2 {
  width: 6.37%;
  left: 73.71%;
}
.th2 {
  width: 5.98%;
  left: 49%;
}
.group-child3,
.polygon-icon {
  position: absolute;
  height: 2.39%;
  width: 3.66%;
  top: 11.4%;
  right: 21.01%;
  bottom: 86.22%;
  left: 75.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child3 {
  height: 3.18%;
  width: 4.22%;
  top: 10.5%;
  right: 42.75%;
  bottom: 86.32%;
  left: 53.02%;
}
.thng-t {
  position: absolute;
  height: 7.14%;
  width: 28.69%;
  top: 8.4%;
  left: 24.7%;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  display: inline-block;
}
.rectangle-parent {
  position: absolute;
  height: 23.4%;
  width: 15.56%;
  top: 31.76%;
  right: 22.94%;
  bottom: 44.84%;
  left: 61.5%;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
.lch {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
