.mn-hnh-chnh-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.n-removebg-preview-1-icon {
  position: absolute;
  top: 12px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey17 {
  color: var(--color-gray-400);
}
.xin-cho-container17 {
  position: absolute;
  width: 21.45%;
  top: 4.13%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.mn-hnh-chnh-item {
  position: absolute;
  top: 146px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.mn-hnh-chnh-child1,
.mn-hnh-chnh-inner {
  position: absolute;
  top: 102px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.mn-hnh-chnh-child1 {
  top: 930px;
  left: -1px;
  width: 1615px;
}
.left-menu-child15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b101 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b101,
.div460,
.div461,
.g17 {
  position: absolute;
  display: none;
}
.g17 {
  top: 11.85%;
  left: 16.43%;
}
.div460,
.div461 {
  left: 19.93%;
}
.div460 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div461 {
  top: 25.25%;
}
.div461,
.div462,
.div463 {
  color: var(--color-black);
}
.div462 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div463 {
  top: 38.65%;
}
.div463,
.div464,
.div465 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div464 {
  top: 45.35%;
  color: var(--color-black);
}
.div465 {
  top: 52.05%;
}
.vector-icon345,
.vector-icon346 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon346 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon347,
.zg17 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon347 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div466,
.vector-icon348 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon348 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div467,
.vector-icon349 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon349 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div468,
.vector-icon350 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon350 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div469,
.vector-icon351 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon351 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d34,
.vector-icon352 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon352 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d35,
.vector-icon353 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon353 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div470,
.vector-icon354 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon354 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div471 {
  top: 92.25%;
  left: 16.43%;
}
.div471,
.div472,
.vector-icon355 {
  position: absolute;
  display: none;
}
.vector-icon355 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div472 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu17 {
  position: absolute;
  top: 265px;
  left: 68px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.vector-icon356,
.vector-icon357,
.vector-icon358,
.vector-icon359,
.vector-icon360 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 38.94%;
  right: 80.29%;
  bottom: 60.6%;
  left: 19.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon357,
.vector-icon358,
.vector-icon359,
.vector-icon360 {
  height: 0.69%;
  width: 0.37%;
  top: 45.23%;
  right: 80.16%;
  bottom: 54.08%;
  left: 19.47%;
}
.vector-icon358,
.vector-icon359,
.vector-icon360 {
  top: 51.82%;
  bottom: 47.49%;
}
.vector-icon359,
.vector-icon360 {
  top: 58.7%;
  bottom: 40.61%;
}
.vector-icon360 {
  top: 65%;
  bottom: 34.32%;
}
.phn-cng-vic17,
.qun-l-lng19,
.qun-l-nhn17,
.qut-vn-tay18,
.tnh-lng18 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 37.86%;
  left: 6.2%;
  color: var(--color-dodgerblue);
  display: inline-block;
}
.phn-cng-vic17,
.qun-l-lng19,
.qut-vn-tay18,
.tnh-lng18 {
  top: 44.44%;
  color: var(--color-gray-600);
}
.phn-cng-vic17,
.qun-l-lng19,
.qut-vn-tay18 {
  top: 57.62%;
  left: 6.26%;
}
.phn-cng-vic17,
.qun-l-lng19 {
  top: 64.21%;
}
.qun-l-lng19 {
  top: 51.03%;
}
.mn-hnh-chnh-child5 {
  position: absolute;
  top: 137px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.mn-hnh-chnh-child6,
.mn-hnh-chnh-child7 {
  position: absolute;
  top: 76px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.mn-hnh-chnh-child7 {
  left: 86px;
}
.mn-hnh-chnh-child8 {
  position: absolute;
  top: 87px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.mn-hnh-chnh-child9 {
  position: absolute;
  top: 42px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.mn-hnh-chnh-child10 {
  position: absolute;
  top: 79px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.mn-hnh-chnh-child12 {
  position: absolute;
  top: 75px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me36 {
  position: absolute;
  top: 82px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.mn-hnh-chnh-child13 {
  position: absolute;
  top: 66px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.mn-hnh-chnh-child14 {
  position: absolute;
  top: 69.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.danh-mc17,
.me37,
.mn-hnh-chnh-child15 {
  position: absolute;
  top: 74px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.danh-mc17,
.me37 {
  top: 82px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.danh-mc17 {
  top: 304px;
  left: 153px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.filters-and-view-child15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px17 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px17,
.ic-view-module-24px17,
.vector-icon361 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px17 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon361 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div473,
.div474 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div474 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent15 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div476 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon362 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent15 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view17 {
  position: absolute;
  top: 163px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.button-black-child30,
.rectangle316 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child30 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div477,
.vector-icon363 {
  position: absolute;
  top: 27.27%;
}
.vector-icon363 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div477 {
  left: 14.86%;
  font-weight: 500;
}
.button-black32 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio32 {
  margin: 0;
}
.b102,
.div478,
.puressio-belnuoritto-bancherio-container32 {
  position: absolute;
  top: 6.25%;
  left: 19.52%;
  display: none;
}
.b102,
.div478 {
  top: 10.94%;
  left: 137.59%;
}
.div478 {
  left: 148.76%;
  text-align: right;
}
.fa-solidtenge-icon32 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fa-solidtenge-icon32,
.rectangle-icon32,
.th7 {
  position: absolute;
  display: none;
}
.th7 {
  width: 44.33%;
  top: 8.2%;
  left: 70.21%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon32 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v232 {
  position: absolute;
  top: 267px;
  left: 463px;
  width: 797px;
  height: 256px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sf-pro-display);
}
.rectangle317 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #e64646;
}
.puressio-belnuoritto-bancherio-container33 {
  position: absolute;
  top: 6.25%;
  left: 72.03%;
  display: none;
}
.b103,
.div480 {
  top: 10.94%;
  display: none;
}
.b103 {
  position: absolute;
  left: 507.68%;
}
.div480 {
  left: 548.9%;
  text-align: right;
}
.card-v233,
.div480,
.th8 {
  position: absolute;
}
.th8 {
  width: 163.58%;
  top: 8.2%;
  left: 259.05%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  display: none;
}
.card-v233 {
  top: 267px;
  left: 1273px;
  width: 216px;
  height: 256px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sf-pro-display);
}
.puressio-belnuoritto-bancherio-container34 {
  position: absolute;
  top: 6.15%;
  left: 15.05%;
  display: none;
}
.b104 {
  top: 10.77%;
  left: 106.05%;
}
.b104,
.div482,
.div483 {
  position: absolute;
  display: none;
}
.div482 {
  top: 10.77%;
  left: 114.66%;
  text-align: right;
}
.div483 {
  width: 34.17%;
  top: 8.08%;
  left: 54.11%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v234 {
  position: absolute;
  top: 582px;
  left: 455px;
  width: 1034px;
  height: 260px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sf-pro-display);
}
.mn-hnh-chnh-child27,
.mn-hnh-chnh-child28,
.mn-hnh-chnh-child29,
.mn-hnh-chnh-child30 {
  position: absolute;
  top: 872px;
  left: 1437px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.mn-hnh-chnh-child28,
.mn-hnh-chnh-child29,
.mn-hnh-chnh-child30 {
  left: 1463px;
  background-color: var(--color-lightsteelblue-100);
}
.mn-hnh-chnh-child29,
.mn-hnh-chnh-child30 {
  left: 1489px;
}
.mn-hnh-chnh-child30 {
  left: 1515px;
}
.b105,
.b106,
.b107,
.b108 {
  position: absolute;
  top: 879px;
  left: 1447px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  width: 6px;
  height: 14px;
}
.b106,
.b107,
.b108 {
  left: 1472px;
  width: 8px;
}
.b107,
.b108 {
  left: 1498px;
}
.b108 {
  left: 1519px;
  width: 17px;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  top: 267px;
  left: 455px;
  width: 223px;
  height: 256px;
  object-fit: cover;
}
.image-2-icon {
  top: 582px;
  width: 230px;
  height: 260px;
}
.h-v-tn-container4,
.h-v-tn-container5 {
  position: absolute;
  height: 21.24%;
  width: 23%;
  top: 29.89%;
  left: 45.38%;
  color: var(--color-darkslategray);
  white-space: pre-wrap;
  display: inline-block;
}
.h-v-tn-container5 {
  top: 60.67%;
}
.x-attachment-bar-item-119,
.x-attachment-bar-item-120 {
  position: absolute;
  top: 472px;
  left: 1185px;
  width: 48px;
  height: 48px;
}
.x-attachment-bar-item-120 {
  top: 789px;
  left: 1402px;
}
.mn-hnh-chnh-child31 {
  position: absolute;
  top: 409.75px;
  left: 99.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 152.5px;
  height: 0.5px;
}
.xo {
  position: absolute;
  width: 6.82%;
  top: 37.66%;
  left: 84.38%;
  font-size: var(--font-size-xl);
  font-family: var(--font-actor);
  color: #d8e3f3;
  display: inline-block;
}
.icon24,
.icon25 {
  position: absolute;
  top: 243px;
  left: 1519px;
  width: 52px;
  height: 52px;
  overflow: hidden;
}
.icon25 {
  top: 777px;
  left: 286px;
  width: 27px;
  height: 24px;
}
.mn-hnh-chnh {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
