.n-removebg-preview-6-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey11 {
  color: var(--color-gray-400);
}
.xin-cho-container11 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.phn-cng-vic-lm-child {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.phn-cng-vic-lm-inner,
.phn-cng-vic-lm-item {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.phn-cng-vic-lm-inner {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.phn-cng-vic-lm-child4 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.phn-cng-vic-lm-child5,
.phn-cng-vic-lm-child6 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.phn-cng-vic-lm-child6 {
  left: 86px;
}
.phn-cng-vic-lm-child7 {
  position: absolute;
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.phn-cng-vic-lm-child8 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.phn-cng-vic-lm-child9 {
  position: absolute;
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.phn-cng-vic-lm-child11 {
  position: absolute;
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me24 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.phn-cng-vic-lm-child12 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.phn-cng-vic-lm-child13 {
  position: absolute;
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me25,
.phn-cng-vic-lm-child14 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me25 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px11 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px11,
.ic-view-module-24px11,
.vector-icon222 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px11 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon222 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div300,
.div301 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div301 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent9 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div303 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon223 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent9 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view11 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.phn-cng-vic-lm-child26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.button-black-child18,
.rectangle175 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child18 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div304,
.vector-icon224 {
  position: absolute;
  top: 27.27%;
}
.vector-icon224 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div304 {
  left: 14.86%;
  font-weight: 500;
}
.button-black20 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio20 {
  margin: 0;
}
.b59,
.div305,
.puressio-belnuoritto-bancherio-container20 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b59,
.div305 {
  top: 4.87%;
  left: 104.94%;
}
.div305 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon20 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div306,
.fa-solidtenge-icon20,
.rectangle-icon20 {
  position: absolute;
  display: none;
}
.div306 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon20 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v220 {
  position: absolute;
  top: 269px;
  left: 449px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b60 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b60,
.div307,
.div308,
.g11 {
  position: absolute;
  display: none;
}
.g11 {
  top: 11.85%;
  left: 16.43%;
}
.div307,
.div308 {
  left: 19.93%;
}
.div307 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div308 {
  top: 25.25%;
}
.div308,
.div309,
.div310 {
  color: var(--color-black);
}
.div309 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div310 {
  top: 38.65%;
}
.div310,
.div311,
.div312 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div311 {
  top: 45.35%;
  color: var(--color-black);
}
.div312 {
  top: 52.05%;
}
.vector-icon225,
.vector-icon226 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon226 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon227,
.zg11 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon227 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div313,
.vector-icon228 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon228 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div314,
.vector-icon229 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon229 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div315,
.vector-icon230 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon230 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div316,
.vector-icon231 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon231 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d22,
.vector-icon232 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon232 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d23,
.vector-icon233 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon233 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div317,
.vector-icon234 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon234 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div318 {
  top: 92.25%;
  left: 16.43%;
}
.div318,
.div319,
.vector-icon235 {
  position: absolute;
  display: none;
}
.vector-icon235 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div319 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu11 {
  position: absolute;
  top: 269px;
  left: 64px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon16 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon236,
.vector-icon237,
.vector-icon238,
.vector-icon239,
.vector-icon240 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 65.78%;
  right: 80.1%;
  bottom: 33.76%;
  left: 19.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon237,
.vector-icon238,
.vector-icon239,
.vector-icon240 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  right: 80.16%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon238,
.vector-icon239,
.vector-icon240 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon239,
.vector-icon240 {
  top: 59.29%;
  bottom: 40.02%;
}
.vector-icon240 {
  top: 52.7%;
  bottom: 46.61%;
}
.qun-l-nhn11,
.tnh-lng11 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  display: inline-block;
}
.tnh-lng11 {
  top: 45.03%;
}
.qut-vn-tay12 {
  top: 58.21%;
  color: var(--color-gray-600);
}
.danh-mc11,
.phn-cng-vic11,
.qun-l-lng13,
.qut-vn-tay12 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  left: 6.26%;
  display: inline-block;
}
.phn-cng-vic11 {
  top: 64.8%;
  color: var(--color-dodgerblue);
}
.danh-mc11,
.qun-l-lng13 {
  top: 51.62%;
}
.danh-mc11 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.phn-cng-vic-lm-child27 {
  position: absolute;
  top: 681.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 164.5px;
  height: 0.5px;
}
.rectangle176 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell155 {
  position: absolute;
  top: 335px;
  left: 478px;
  background-color: var(--color-steelblue-300);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 170px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell156,
.cell157,
.cell158,
.cell159,
.cell160,
.cell161,
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  position: absolute;
  top: 335px;
  left: 649px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 86px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell157,
.cell158,
.cell159,
.cell160,
.cell161,
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 731px;
  width: 87px;
}
.cell158,
.cell159,
.cell160,
.cell161,
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 814px;
}
.cell159,
.cell160,
.cell161,
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 897px;
}
.cell160,
.cell161,
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 980px;
  width: 86px;
}
.cell161,
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1062px;
  width: 87px;
}
.cell162,
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1145px;
}
.cell163,
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 649px;
  background-color: var(--color-steelblue-100);
  width: 86px;
}
.cell164,
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 731px;
  width: 87px;
}
.cell165,
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 814px;
}
.cell166,
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 897px;
}
.cell167,
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 980px;
  width: 86px;
}
.cell168,
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1062px;
  width: 87px;
}
.cell169,
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1145px;
}
.cell170,
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1267px;
  background-color: var(--grey-0);
  width: 63px;
}
.cell171,
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1326px;
  width: 145px;
}
.cell172,
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  top: 467px;
  left: 1267px;
  width: 63px;
}
.cell173,
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 1326px;
  width: 145px;
}
.cell174,
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  top: 530px;
  left: 650px;
  width: 86px;
}
.cell175,
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 732px;
  width: 87px;
}
.cell176,
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 815px;
}
.cell177,
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 898px;
}
.cell178,
.cell179,
.cell180,
.cell188 {
  left: 981px;
  width: 86px;
}
.cell179,
.cell180,
.cell188 {
  left: 1063px;
  width: 87px;
}
.cell180,
.cell188 {
  left: 1146px;
}
.cell188 {
  top: 728px;
  left: 649px;
  width: 86px;
}
.cell189,
.cell190,
.cell191,
.cell192,
.cell193,
.cell194,
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  position: absolute;
  top: 728px;
  left: 731px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 87px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell190,
.cell191,
.cell192,
.cell193,
.cell194,
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 814px;
}
.cell191,
.cell192,
.cell193,
.cell194,
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 897px;
}
.cell192,
.cell193,
.cell194,
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 980px;
  width: 86px;
}
.cell193,
.cell194,
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 1062px;
  width: 87px;
}
.cell194,
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 1145px;
}
.cell202,
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 478px;
  width: 170px;
}
.cell203,
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  top: 530px;
  left: 479px;
  width: 169px;
}
.cell204,
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  top: 431px;
  left: 480px;
  background-color: var(--color-aliceblue-100);
  width: 168px;
}
.cell205,
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 649px;
  width: 86px;
}
.cell206,
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 732px;
}
.cell207,
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 815px;
}
.cell208,
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 898px;
}
.cell209,
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 981px;
}
.cell210,
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 1064px;
}
.cell211,
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 1147px;
}
.cell212,
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  top: 401px;
  left: 1267px;
  width: 60px;
}
.cell213,
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 1326px;
  width: 145px;
}
.cell214,
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  top: 533px;
  left: 1267px;
  width: 60px;
}
.cell215,
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 1326px;
  width: 145px;
}
.cell216,
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  top: 629px;
  left: 649px;
  width: 86px;
}
.cell217,
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 732px;
}
.cell218,
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 815px;
}
.cell219,
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 898px;
}
.cell220,
.cell221,
.cell222,
.cell223 {
  left: 981px;
}
.cell221,
.cell222,
.cell223 {
  left: 1064px;
}
.cell222,
.cell223 {
  left: 1147px;
}
.cell223 {
  left: 478px;
  width: 170px;
}
.nv-015 {
  position: absolute;
  height: 2.06%;
  width: 3.72%;
  top: 44.35%;
  left: 33.29%;
  display: inline-block;
}
.ca-16,
.ca-17,
.ca-18,
.ca-19,
.ca-210,
.ca-211,
.div320,
.div321,
.div322,
.div323 {
  position: absolute;
  height: 2.06%;
  width: 6.7%;
  top: 35.2%;
  left: 83.38%;
  display: inline-block;
}
.ca-16,
.ca-17,
.ca-18,
.ca-19,
.ca-210,
.ca-211,
.div321,
.div322,
.div323 {
  top: 41.49%;
}
.ca-16,
.ca-17,
.ca-18,
.ca-19,
.ca-210,
.ca-211,
.div322,
.div323 {
  top: 47.98%;
}
.ca-16,
.ca-17,
.ca-18,
.ca-19,
.ca-210,
.ca-211,
.div323 {
  top: 54.47%;
}
.ca-16,
.ca-17,
.ca-18,
.ca-19,
.ca-210,
.ca-211 {
  width: 2.98%;
  top: 35.2%;
  left: 79.17%;
}
.ca-17,
.ca-18,
.ca-19,
.ca-210,
.ca-211 {
  top: 44.35%;
  left: 41.41%;
}
.ca-18,
.ca-19,
.ca-210,
.ca-211 {
  top: 73.75%;
  left: 56.48%;
}
.ca-19,
.ca-210,
.ca-211 {
  top: 53.79%;
  left: 46.93%;
}
.ca-19,
.ca-211 {
  top: 64.11%;
  left: 51.83%;
}
.ca-211 {
  top: 44.35%;
  left: 51.7%;
}
.ca-110,
.ca-111,
.ca-212,
.ca-213,
.ca-214,
.ca-215,
.ca-312,
.ca-313 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 63.91%;
  left: 61.87%;
  display: inline-block;
}
.ca-111,
.ca-212,
.ca-213,
.ca-214,
.ca-215,
.ca-312,
.ca-313 {
  top: 73.75%;
  left: 72.29%;
}
.ca-212,
.ca-213,
.ca-214,
.ca-215,
.ca-312,
.ca-313 {
  top: 41.49%;
  left: 79.36%;
}
.ca-213,
.ca-214,
.ca-215,
.ca-312,
.ca-313 {
  top: 44.54%;
  left: 62.18%;
}
.ca-214,
.ca-215,
.ca-312,
.ca-313 {
  top: 64.01%;
  left: 41.41%;
}
.ca-215,
.ca-312,
.ca-313 {
  top: 73.75%;
  left: 67.33%;
}
.ca-312,
.ca-313 {
  top: 47.98%;
  left: 79.36%;
}
.ca-313 {
  top: 53.79%;
  left: 41.41%;
}
.ca-314,
.ca-315,
.ca-316,
.ca-410,
.ca-411,
.ca-412,
.ca-413,
.ca-414 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 73.65%;
  left: 61.87%;
  display: inline-block;
}
.ca-315,
.ca-316,
.ca-410,
.ca-411,
.ca-412,
.ca-413,
.ca-414 {
  top: 63.91%;
  left: 67.33%;
}
.ca-316,
.ca-410,
.ca-411,
.ca-412,
.ca-413,
.ca-414 {
  top: 53.79%;
  left: 56.54%;
}
.ca-410,
.ca-411,
.ca-412,
.ca-413,
.ca-414 {
  top: 54.47%;
  left: 79.36%;
}
.ca-411,
.ca-412,
.ca-413,
.ca-414 {
  top: 73.75%;
  left: 41.41%;
}
.ca-412,
.ca-413,
.ca-414 {
  top: 64.11%;
  left: 46.44%;
}
.ca-413,
.ca-414 {
  top: 73.75%;
  left: 46.56%;
}
.ca-414 {
  top: 53.79%;
  left: 51.52%;
}
.ca-415,
.ca-416,
.ca-417,
.ca-418,
.ca-419,
.ca-420,
.th-22,
.th-32,
.th-42 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 64.11%;
  left: 56.79%;
  display: inline-block;
}
.ca-416,
.ca-417,
.ca-418,
.ca-419,
.ca-420,
.th-22,
.th-32,
.th-42 {
  top: 44.44%;
}
.ca-417,
.ca-418,
.ca-419,
.ca-420,
.th-22,
.th-32,
.th-42 {
  top: 44.64%;
  left: 67.58%;
}
.ca-418,
.ca-419,
.ca-420,
.th-22,
.th-32,
.th-42 {
  top: 44.84%;
  left: 72.23%;
}
.ca-419,
.ca-420,
.th-22,
.th-32,
.th-42 {
  top: 53.79%;
  left: 67.14%;
}
.ca-420,
.th-22,
.th-32,
.th-42 {
  left: 72.29%;
}
.th-22,
.th-32,
.th-42 {
  width: 3.72%;
  top: 35.1%;
  left: 41.04%;
}
.th-32,
.th-42 {
  left: 46.19%;
}
.th-42 {
  left: 51.33%;
}
.ch-nht2,
.m-nhn-vin5,
.nv-025,
.nv-035,
.nv-045,
.th-52,
.th-62,
.th-72 {
  position: absolute;
  height: 2.06%;
  width: 3.72%;
  top: 35.2%;
  left: 56.48%;
  display: inline-block;
}
.ch-nht2,
.m-nhn-vin5,
.nv-025,
.nv-035,
.nv-045,
.th-62,
.th-72 {
  left: 61.56%;
}
.ch-nht2,
.m-nhn-vin5,
.nv-025,
.nv-035,
.nv-045,
.th-72 {
  left: 66.71%;
}
.ch-nht2,
.m-nhn-vin5,
.nv-025,
.nv-035,
.nv-045 {
  width: 4.84%;
  left: 71.36%;
}
.m-nhn-vin5,
.nv-025,
.nv-035,
.nv-045 {
  width: 3.72%;
  top: 53.79%;
  left: 33.29%;
}
.m-nhn-vin5,
.nv-035,
.nv-045 {
  top: 63.91%;
}
.m-nhn-vin5,
.nv-045 {
  top: 73.75%;
}
.m-nhn-vin5 {
  width: 8.31%;
  top: 35.1%;
  left: 31.31%;
}
.phn-cng-vic-lm-child28,
.phn-cng-vic-lm-child29,
.phn-cng-vic-lm-child30,
.phn-cng-vic-lm-child31 {
  position: absolute;
  top: 874px;
  left: 1442px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.phn-cng-vic-lm-child29,
.phn-cng-vic-lm-child30,
.phn-cng-vic-lm-child31 {
  left: 1468px;
  background-color: var(--color-lightsteelblue-100);
}
.phn-cng-vic-lm-child30,
.phn-cng-vic-lm-child31 {
  left: 1494px;
}
.phn-cng-vic-lm-child31 {
  left: 1520px;
}
.b61,
.b62,
.b63,
.b64 {
  position: absolute;
  top: 881px;
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b62,
.b63,
.b64 {
  left: 1477px;
  width: 8px;
}
.b63,
.b64 {
  left: 1503px;
}
.b64 {
  top: 880px;
  left: 1525px;
  width: 16px;
}
.icon-color3,
.x-attachment-bar-item-111 {
  position: absolute;
  top: 789px;
  left: 1424px;
  width: 48px;
  height: 48px;
}
.icon-color3 {
  height: 2.36%;
  width: 1.49%;
  top: 28.81%;
  right: 9.49%;
  bottom: 68.83%;
  left: 89.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.off4,
.off5,
.off6,
.off7 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 53.79%;
  left: 61.87%;
  display: inline-block;
}
.off5,
.off6,
.off7 {
  top: 63.91%;
  left: 72.23%;
}
.off6,
.off7 {
  top: 44.35%;
  left: 46.56%;
}
.off7 {
  top: 73.65%;
  left: 51.7%;
}
.phn-cng-vic-lm {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
