.ca-25,
.ca-26,
.ca-36 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 44.35%;
  left: 57.28%;
  display: inline-block;
}
.ca-26,
.ca-36 {
  left: 56.54%;
}
.ca-36 {
  top: 53.79%;
  left: 67.27%;
}
.n-removebg-preview-7-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey10 {
  color: var(--color-gray-400);
}
.xin-cho-container10 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.phn-cng-vic-lm-1-child {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.phn-cng-vic-lm-1-inner,
.phn-cng-vic-lm-1-item {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.phn-cng-vic-lm-1-inner {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.phn-cng-vic-lm-1-child4 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.phn-cng-vic-lm-1-child5,
.phn-cng-vic-lm-1-child6 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.phn-cng-vic-lm-1-child6 {
  left: 86px;
}
.phn-cng-vic-lm-1-child7 {
  position: absolute;
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.phn-cng-vic-lm-1-child8 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.phn-cng-vic-lm-1-child9 {
  position: absolute;
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.phn-cng-vic-lm-1-child11 {
  position: absolute;
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me22 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.phn-cng-vic-lm-1-child12 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.phn-cng-vic-lm-1-child13 {
  position: absolute;
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me23,
.phn-cng-vic-lm-1-child14 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me23 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px10 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px10,
.ic-view-module-24px10,
.vector-icon203 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px10 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon203 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div276,
.div277 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div277 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent8 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div279 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon204 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent8 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view10 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.phn-cng-vic-lm-1-child26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.button-black-child17,
.rectangle128 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child17 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div280,
.vector-icon205 {
  position: absolute;
  top: 27.27%;
}
.vector-icon205 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div280 {
  left: 14.86%;
  font-weight: 500;
}
.button-black19 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio19 {
  margin: 0;
}
.b53,
.div281,
.puressio-belnuoritto-bancherio-container19 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b53,
.div281 {
  top: 4.87%;
  left: 104.94%;
}
.div281 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon19 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div282,
.fa-solidtenge-icon19,
.rectangle-icon19 {
  position: absolute;
  display: none;
}
.div282 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon19 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v219 {
  position: absolute;
  top: 269px;
  left: 449px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b54 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b54,
.div283,
.div284,
.g10 {
  position: absolute;
  display: none;
}
.g10 {
  top: 11.85%;
  left: 16.43%;
}
.div283,
.div284 {
  left: 19.93%;
}
.div283 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div284 {
  top: 25.25%;
}
.div284,
.div285,
.div286 {
  color: var(--color-black);
}
.div285 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div286 {
  top: 38.65%;
}
.div286,
.div287,
.div288 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div287 {
  top: 45.35%;
  color: var(--color-black);
}
.div288 {
  top: 52.05%;
}
.vector-icon206,
.vector-icon207 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon207 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon208,
.zg10 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon208 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div289,
.vector-icon209 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon209 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div290,
.vector-icon210 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon210 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div291,
.vector-icon211 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon211 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div292,
.vector-icon212 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon212 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d20,
.vector-icon213 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon213 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d21,
.vector-icon214 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon214 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div293,
.vector-icon215 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon215 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div294 {
  top: 92.25%;
  left: 16.43%;
}
.div294,
.div295,
.vector-icon216 {
  position: absolute;
  display: none;
}
.vector-icon216 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div295 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu10 {
  position: absolute;
  top: 269px;
  left: 64px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon15 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon217,
.vector-icon218,
.vector-icon219,
.vector-icon220,
.vector-icon221 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 65.78%;
  right: 80.1%;
  bottom: 33.76%;
  left: 19.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon218,
.vector-icon219,
.vector-icon220,
.vector-icon221 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  right: 80.16%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon219,
.vector-icon220,
.vector-icon221 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon220,
.vector-icon221 {
  top: 59.29%;
  bottom: 40.02%;
}
.vector-icon221 {
  top: 52.7%;
  bottom: 46.61%;
}
.qun-l-nhn10,
.tnh-lng10 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  display: inline-block;
}
.tnh-lng10 {
  top: 45.03%;
}
.qut-vn-tay11 {
  top: 58.21%;
  color: var(--color-gray-600);
}
.danh-mc10,
.phn-cng-vic10,
.qun-l-lng12,
.qut-vn-tay11 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  left: 6.26%;
  display: inline-block;
}
.phn-cng-vic10 {
  top: 64.8%;
  color: var(--color-dodgerblue);
}
.danh-mc10,
.qun-l-lng12 {
  top: 51.62%;
}
.danh-mc10 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.phn-cng-vic-lm-1-child27 {
  position: absolute;
  top: 681.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 164.5px;
  height: 0.5px;
}
.rectangle129 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell109,
.cell110,
.cell111,
.cell112,
.cell113,
.cell114,
.cell115,
.cell116,
.cell117 {
  position: absolute;
  top: 335px;
  left: 478px;
  background-color: var(--color-steelblue-300);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 170px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell110,
.cell111,
.cell112,
.cell113,
.cell114,
.cell115,
.cell116,
.cell117 {
  left: 649px;
  background-color: var(--grey-0);
  width: 86px;
}
.cell111,
.cell112,
.cell113,
.cell114,
.cell115,
.cell116,
.cell117 {
  left: 731px;
  width: 87px;
}
.cell112,
.cell113,
.cell114,
.cell115,
.cell116,
.cell117 {
  left: 814px;
}
.cell113,
.cell114,
.cell115,
.cell116,
.cell117 {
  left: 897px;
}
.cell114,
.cell115,
.cell116,
.cell117 {
  left: 980px;
  width: 86px;
}
.cell115,
.cell116,
.cell117 {
  left: 1062px;
  width: 87px;
}
.cell116,
.cell117 {
  left: 1145px;
}
.cell117 {
  left: 649px;
  background-color: var(--color-steelblue-100);
  width: 86px;
}
.cell118,
.cell119,
.cell120,
.cell121,
.cell122,
.cell123,
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  position: absolute;
  top: 335px;
  left: 731px;
  background-color: var(--color-steelblue-100);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 87px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell119,
.cell120,
.cell121,
.cell122,
.cell123,
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 814px;
}
.cell120,
.cell121,
.cell122,
.cell123,
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 897px;
}
.cell121,
.cell122,
.cell123,
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 980px;
  width: 86px;
}
.cell122,
.cell123,
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1062px;
  width: 87px;
}
.cell123,
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1145px;
}
.cell124,
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1267px;
  background-color: var(--grey-0);
  width: 63px;
}
.cell125,
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1326px;
  width: 145px;
}
.cell126,
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  top: 467px;
  left: 1267px;
  width: 63px;
}
.cell127,
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1326px;
  width: 145px;
}
.cell128,
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  top: 530px;
  left: 650px;
  width: 86px;
}
.cell129,
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 732px;
  width: 87px;
}
.cell130,
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 815px;
}
.cell131,
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 898px;
}
.cell132,
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 981px;
  width: 86px;
}
.cell133,
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1063px;
  width: 87px;
}
.cell134,
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1146px;
}
.cell142,
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 479px;
  width: 169px;
}
.cell143,
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  top: 431px;
  left: 480px;
  background-color: var(--color-aliceblue-100);
  width: 168px;
}
.cell144,
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 649px;
  width: 86px;
}
.cell145,
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 732px;
}
.cell146,
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 815px;
}
.cell147,
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 898px;
}
.cell148,
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 981px;
}
.cell149,
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1064px;
}
.cell150,
.cell151,
.cell152,
.cell153,
.cell154 {
  left: 1147px;
}
.cell151,
.cell152,
.cell153,
.cell154 {
  top: 401px;
  left: 1267px;
  width: 60px;
}
.cell152,
.cell153,
.cell154 {
  left: 1326px;
  width: 145px;
}
.cell153,
.cell154 {
  top: 533px;
  left: 1267px;
  width: 60px;
}
.cell154 {
  left: 1326px;
  width: 145px;
}
.div296,
.div297,
.div298,
.div299,
.nv-051 {
  position: absolute;
  height: 2.06%;
  width: 3.72%;
  top: 44.35%;
  left: 33.29%;
  display: inline-block;
}
.div296,
.div297,
.div298,
.div299 {
  width: 6.7%;
  top: 35.2%;
  left: 83.38%;
}
.div297,
.div298,
.div299 {
  top: 41.49%;
}
.div298,
.div299 {
  top: 47.98%;
}
.div299 {
  top: 54.47%;
}
.ca-13,
.ca-14,
.ca-15,
.ca-27,
.ca-37,
.ca-38,
.ca-39,
.off2,
.off3 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 35.2%;
  left: 79.17%;
  display: inline-block;
}
.ca-14,
.ca-15,
.ca-27,
.ca-37,
.ca-38,
.ca-39,
.off2,
.off3 {
  top: 44.35%;
  left: 41.41%;
}
.ca-14,
.ca-15,
.ca-27,
.ca-37,
.ca-38,
.ca-39,
.off3 {
  top: 53.79%;
  left: 57.28%;
}
.ca-14,
.ca-15,
.ca-27,
.ca-37,
.ca-38,
.ca-39 {
  left: 46.93%;
}
.ca-15,
.ca-27,
.ca-37,
.ca-38,
.ca-39 {
  top: 44.35%;
}
.ca-15,
.ca-27,
.ca-38,
.ca-39 {
  top: 53.79%;
  left: 51.77%;
}
.ca-15,
.ca-27,
.ca-39 {
  top: 44.35%;
  left: 67.58%;
}
.ca-27,
.ca-39 {
  top: 44.54%;
  left: 72.72%;
}
.ca-27 {
  top: 41.49%;
  left: 79.36%;
}
.ca-28,
.ca-29,
.ca-310,
.ca-311,
.ca-45,
.ca-46,
.ca-47,
.ca-48,
.ca-49 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 44.54%;
  left: 57.22%;
  display: inline-block;
}
.ca-29,
.ca-310,
.ca-311,
.ca-45,
.ca-46,
.ca-47,
.ca-48,
.ca-49 {
  top: 53.79%;
  left: 72.72%;
}
.ca-310,
.ca-311,
.ca-45,
.ca-46,
.ca-47,
.ca-48,
.ca-49 {
  top: 47.98%;
  left: 79.36%;
}
.ca-311,
.ca-45,
.ca-46,
.ca-47,
.ca-48,
.ca-49 {
  top: 53.79%;
  left: 67.45%;
}
.ca-45,
.ca-46,
.ca-47,
.ca-48,
.ca-49 {
  left: 41.41%;
}
.ca-46,
.ca-47,
.ca-48,
.ca-49 {
  top: 44.35%;
  left: 51.83%;
}
.ca-47,
.ca-48,
.ca-49 {
  top: 44.54%;
  left: 62.31%;
}
.ca-48,
.ca-49 {
  top: 53.79%;
}
.ca-49 {
  top: 54.47%;
  left: 79.36%;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061,
.th-21,
.th-31,
.th-41,
.th-51,
.th-61,
.th-71 {
  position: absolute;
  height: 2.06%;
  width: 3.72%;
  top: 35.1%;
  left: 41.04%;
  display: inline-block;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061,
.th-31,
.th-41,
.th-51,
.th-61,
.th-71 {
  left: 46.19%;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061,
.th-41,
.th-51,
.th-61,
.th-71 {
  left: 51.33%;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061,
.th-51,
.th-61,
.th-71 {
  top: 35.2%;
  left: 56.48%;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061,
.th-61,
.th-71 {
  left: 61.56%;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061,
.th-71 {
  left: 66.71%;
}
.ch-nht1,
.m-nhn-vin4,
.nv-061 {
  width: 4.84%;
  left: 71.36%;
}
.m-nhn-vin4,
.nv-061 {
  width: 3.72%;
  top: 53.79%;
  left: 33.29%;
}
.m-nhn-vin4 {
  width: 8.31%;
  top: 35.1%;
  left: 31.31%;
}
.phn-cng-vic-lm-1-child28,
.phn-cng-vic-lm-1-child29,
.phn-cng-vic-lm-1-child30,
.phn-cng-vic-lm-1-child31 {
  position: absolute;
  top: 874px;
  left: 1468px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.phn-cng-vic-lm-1-child29,
.phn-cng-vic-lm-1-child30,
.phn-cng-vic-lm-1-child31 {
  left: 1442px;
  background-color: var(--color-lightsteelblue-100);
}
.phn-cng-vic-lm-1-child30,
.phn-cng-vic-lm-1-child31 {
  left: 1494px;
}
.phn-cng-vic-lm-1-child31 {
  left: 1520px;
}
.b55,
.b56,
.b57,
.b58 {
  position: absolute;
  top: 881px;
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b56,
.b57,
.b58 {
  left: 1477px;
  width: 8px;
}
.b57,
.b58 {
  left: 1503px;
}
.b58 {
  top: 880px;
  left: 1525px;
  width: 16px;
}
.icon-color2,
.x-attachment-bar-item-110 {
  position: absolute;
  top: 789px;
  left: 1424px;
  width: 48px;
  height: 48px;
}
.icon-color2 {
  height: 2.36%;
  width: 1.49%;
  top: 28.81%;
  right: 9.49%;
  bottom: 68.83%;
  left: 89.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phn-cng-vic-lm-1 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
