.n-removebg-preview-16-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey4 {
  color: var(--color-gray-400);
}
.xin-cho-container4 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.qun-l-lng-item {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.qun-l-lng-child1,
.qun-l-lng-inner {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.qun-l-lng-child1 {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.qun-l-lng-child5 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.qun-l-lng-child6,
.qun-l-lng-child7 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.qun-l-lng-child7 {
  left: 86px;
}
.qun-l-lng-child8 {
  position: absolute;
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.qun-l-lng-child9 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.qun-l-lng-child10,
.qun-l-lng-child12 {
  position: absolute;
  box-sizing: border-box;
}
.qun-l-lng-child10 {
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  width: 27px;
  height: 4px;
}
.qun-l-lng-child12 {
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  width: 4px;
  height: 55px;
}
.me10 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.qun-l-lng-child13 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.qun-l-lng-child14 {
  position: absolute;
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me11,
.qun-l-lng-child15 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me11 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-list-24px4,
.ic-view-module-24px4,
.vector-icon78 {
  position: absolute;
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px4,
.vector-icon78 {
  right: 3.12%;
  left: 95.63%;
}
.vector-icon78 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div129,
.div130 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div130 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent2 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div132 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon79 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent2 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view4 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child2,
.qun-l-lng-child27 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.left-menu-child2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b22,
.g4 {
  position: absolute;
  display: none;
}
.b22 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.g4 {
  top: 11.85%;
  left: 16.43%;
}
.div133,
.div134,
.div135,
.div136,
.div137 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div133 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div134,
.div135,
.div136,
.div137 {
  top: 25.25%;
  color: var(--color-black);
}
.div135,
.div136,
.div137 {
  top: 31.95%;
}
.div136,
.div137 {
  top: 38.65%;
}
.div137 {
  top: 45.35%;
}
.div138,
.vector-icon80,
.vector-icon81 {
  position: absolute;
  top: 52.05%;
  left: 19.93%;
  display: none;
}
.vector-icon80,
.vector-icon81 {
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon81 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon82,
.zg4 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon82 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div139,
.vector-icon83 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon83 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div140,
.vector-icon84 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon84 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div141,
.vector-icon85 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon85 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div142,
.vector-icon86 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon86 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d8,
.vector-icon87 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon87 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d9,
.vector-icon88 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon88 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div143,
.vector-icon89 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon89 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div144 {
  top: 92.25%;
  left: 16.43%;
}
.div144,
.div145,
.vector-icon90 {
  position: absolute;
  display: none;
}
.vector-icon90 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div145 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu4 {
  position: absolute;
  top: 271px;
  left: 68px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon7 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon91,
.vector-icon92,
.vector-icon93,
.vector-icon94,
.vector-icon95 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 52.7%;
  right: 80.29%;
  bottom: 46.84%;
  left: 19.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon92,
.vector-icon93,
.vector-icon94,
.vector-icon95 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  right: 80.16%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon93,
.vector-icon94,
.vector-icon95 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon94,
.vector-icon95 {
  top: 59.29%;
  bottom: 40.02%;
}
.vector-icon95 {
  top: 65.59%;
  bottom: 33.73%;
}
.danh-mc4,
.phn-cng-vic4,
.qun-l-lng6,
.qun-l-nhn4,
.qut-vn-tay5,
.tnh-lng4 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  display: inline-block;
}
.danh-mc4,
.phn-cng-vic4,
.qun-l-lng6,
.qut-vn-tay5,
.tnh-lng4 {
  top: 45.03%;
}
.danh-mc4,
.phn-cng-vic4,
.qun-l-lng6,
.qut-vn-tay5 {
  top: 58.21%;
  left: 6.26%;
  color: var(--color-gray-600);
}
.danh-mc4,
.phn-cng-vic4,
.qun-l-lng6 {
  top: 64.8%;
}
.danh-mc4,
.qun-l-lng6 {
  top: 51.62%;
  color: var(--color-dodgerblue);
}
.danh-mc4 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.rectangle48 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell42,
.cell43,
.cell44,
.cell45,
.cell46,
.cell47,
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  position: absolute;
  top: 330px;
  left: 524px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 225px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell43,
.cell44,
.cell45,
.cell46,
.cell47,
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  top: 283px;
  left: 1190px;
  height: 39px;
}
.cell44,
.cell45,
.cell46,
.cell47,
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  top: 330px;
  left: 968px;
  width: 226px;
  height: 63px;
}
.cell45,
.cell46,
.cell47,
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 1190px;
  width: 225px;
}
.cell46,
.cell47,
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 745px;
  width: 227px;
}
.cell47,
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  top: 723px;
  left: 524px;
  width: 225px;
}
.cell48,
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 968px;
  width: 226px;
}
.cell49,
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 1190px;
  width: 225px;
}
.cell50,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 745px;
  width: 227px;
}
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  top: 525px;
  left: 525px;
  width: 225px;
}
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 969px;
  width: 226px;
}
.cell53,
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 1191px;
  width: 225px;
}
.cell54,
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 746px;
  width: 227px;
}
.cell55,
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  top: 426px;
  left: 526px;
  background-color: var(--color-aliceblue-100);
  width: 225px;
}
.cell56,
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 970px;
  width: 226px;
}
.cell57,
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 1192px;
  width: 225px;
}
.cell58,
.cell59,
.cell60,
.cell61,
.cell62 {
  left: 747px;
  width: 227px;
}
.cell59,
.cell60,
.cell61,
.cell62 {
  top: 624px;
  left: 524px;
  width: 225px;
}
.cell60,
.cell61,
.cell62 {
  left: 968px;
  width: 226px;
}
.cell61,
.cell62 {
  left: 1190px;
  width: 225px;
}
.cell62 {
  left: 745px;
  width: 227px;
}
.h-v-tn2,
.nh-gi1,
.thi-gian1 {
  position: absolute;
  height: 2.06%;
  width: 5.77%;
  top: 34.51%;
  left: 50.34%;
  display: inline-block;
}
.nh-gi1,
.thi-gian1 {
  width: 5.15%;
  top: 34.81%;
  left: 64.6%;
}
.nh-gi1 {
  width: 6.82%;
  top: 34.51%;
  left: 78.24%;
}
.div146,
.div147,
.mun-gi1,
.ng-gi2,
.ng-gi3,
.nv-013,
.sm-gi1 {
  position: absolute;
  height: 2.06%;
  width: 3.84%;
  top: 43.85%;
  left: 37.51%;
  display: inline-block;
}
.div146,
.div147,
.mun-gi1,
.ng-gi2,
.ng-gi3,
.sm-gi1 {
  width: 10.6%;
  top: 44.05%;
  left: 62%;
}
.div147,
.mun-gi1,
.ng-gi2,
.ng-gi3,
.sm-gi1 {
  width: 10.85%;
  top: 53.39%;
  left: 61.75%;
}
.mun-gi1,
.ng-gi2,
.ng-gi3,
.sm-gi1 {
  width: 4.9%;
  top: 43.95%;
  left: 78.3%;
}
.ng-gi2,
.ng-gi3,
.sm-gi1 {
  width: 5.15%;
  top: 53.39%;
}
.ng-gi2,
.ng-gi3 {
  width: 4.9%;
  top: 63.13%;
  left: 78.74%;
}
.ng-gi3 {
  top: 72.86%;
}
.div148,
.div149,
.m-nhn-vin2,
.nv-023,
.nv-033,
.nv-043 {
  position: absolute;
  height: 2.06%;
  width: 10.79%;
  top: 63.52%;
  left: 61.75%;
  display: inline-block;
}
.div149,
.m-nhn-vin2,
.nv-023,
.nv-033,
.nv-043 {
  width: 10.11%;
  top: 72.96%;
  left: 62.06%;
}
.m-nhn-vin2,
.nv-023,
.nv-033,
.nv-043 {
  width: 3.84%;
  top: 53.29%;
  left: 37.57%;
}
.m-nhn-vin2,
.nv-033,
.nv-043 {
  top: 63.42%;
  left: 37.63%;
}
.m-nhn-vin2,
.nv-043 {
  top: 73.25%;
  left: 37.51%;
}
.m-nhn-vin2 {
  width: 7.19%;
  top: 34.51%;
  left: 35.96%;
}
.cao-l-tuyt2,
.nguyn-bo-anh2,
.nguyn-th-hong2,
.t-quang-nh2 {
  position: absolute;
  height: 2.06%;
  width: 12.28%;
  top: 43.95%;
  left: 47.86%;
  display: inline-block;
}
.cao-l-tuyt2,
.nguyn-th-hong2,
.t-quang-nh2 {
  width: 13.21%;
  top: 53.1%;
  left: 46.93%;
}
.cao-l-tuyt2,
.t-quang-nh2 {
  top: 63.42%;
  left: 47.43%;
}
.t-quang-nh2 {
  width: 8.31%;
  top: 72.96%;
  left: 49.04%;
}
.qun-l-lng-child28 {
  position: absolute;
  top: 548.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 119.5px;
  height: 0.5px;
}
.qun-l-lng-child29,
.qun-l-lng-child30,
.qun-l-lng-child31,
.qun-l-lng-child32 {
  position: absolute;
  top: 871px;
  left: 1442px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.qun-l-lng-child30,
.qun-l-lng-child31,
.qun-l-lng-child32 {
  left: 1468px;
  background-color: var(--color-lightsteelblue-100);
}
.qun-l-lng-child31,
.qun-l-lng-child32 {
  left: 1494px;
}
.qun-l-lng-child32 {
  left: 1520px;
}
.b23,
.b24,
.b25 {
  top: 878px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  height: 14px;
}
.b23 {
  position: absolute;
  left: 1452px;
  width: 6px;
}
.b24,
.b25 {
  width: 8px;
}
.b24 {
  position: absolute;
  left: 1477px;
}
.b25 {
  left: 1503px;
}
.b25,
.b26,
.icon8 {
  position: absolute;
}
.b26 {
  top: 877px;
  left: 1525px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 16px;
  height: 14px;
}
.icon8 {
  height: 2.75%;
  width: 1.74%;
  top: 28.42%;
  right: 23.31%;
  bottom: 68.83%;
  left: 74.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ngy-trc2 {
  position: absolute;
  top: 299px;
  left: 1295px;
  font-size: var(--font-size-mini);
  line-height: 6.16px;
  font-weight: 500;
  color: var(--gray-900);
  display: flex;
  align-items: center;
}
.iconssmallarrowdown2 {
  position: absolute;
  top: 296px;
  left: 1391px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.qun-l-lng5 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
