.n-removebg-preview-2-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey14 {
  color: var(--color-gray-400);
}
.xin-cho-container14 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.tnh-lng-child {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.tnh-lng-inner,
.tnh-lng-item {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.tnh-lng-inner {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.tnh-lng-child4 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.tnh-lng-child5,
.tnh-lng-child6,
.tnh-lng-child7 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.tnh-lng-child6,
.tnh-lng-child7 {
  left: 86px;
}
.tnh-lng-child7 {
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.tnh-lng-child8 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.tnh-lng-child11,
.tnh-lng-child9 {
  position: absolute;
  box-sizing: border-box;
}
.tnh-lng-child9 {
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  width: 27px;
  height: 4px;
}
.tnh-lng-child11 {
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  width: 4px;
  height: 55px;
}
.me30 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.tnh-lng-child12,
.tnh-lng-child13 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.tnh-lng-child13 {
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me31,
.tnh-lng-child14 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me31 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px14 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px14,
.ic-view-module-24px14,
.vector-icon283 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px14 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon283 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div382,
.div383 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div383 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent12 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div385 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon284 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent12 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view14 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child12,
.tnh-lng-child26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.left-menu-child12 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b79 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b79,
.div386,
.div387,
.g14 {
  position: absolute;
  display: none;
}
.g14 {
  top: 11.85%;
  left: 16.43%;
}
.div386,
.div387 {
  left: 19.93%;
}
.div386 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div387 {
  top: 25.25%;
}
.div387,
.div388,
.div389 {
  color: var(--color-black);
}
.div388 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div389 {
  top: 38.65%;
}
.div389,
.div390,
.div391 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div390 {
  top: 45.35%;
  color: var(--color-black);
}
.div391 {
  top: 52.05%;
}
.vector-icon285,
.vector-icon286 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon286 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon287,
.zg14 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon287 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div392,
.vector-icon288 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon288 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div393,
.vector-icon289 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon289 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div394,
.vector-icon290 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon290 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div395,
.vector-icon291 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon291 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d28,
.vector-icon292 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon292 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d29,
.vector-icon293 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon293 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div396,
.vector-icon294 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon294 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div397 {
  top: 92.25%;
  left: 16.43%;
}
.div397,
.div398,
.vector-icon295 {
  position: absolute;
  display: none;
}
.vector-icon295 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div398 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu14 {
  position: absolute;
  top: 271px;
  left: 68px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon19 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon296,
.vector-icon297,
.vector-icon298,
.vector-icon299,
.vector-icon300 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 45.92%;
  right: 80.35%;
  bottom: 53.62%;
  left: 19.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon297,
.vector-icon298,
.vector-icon299,
.vector-icon300 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  right: 80.16%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon298,
.vector-icon299,
.vector-icon300 {
  top: 52.41%;
  bottom: 46.9%;
}
.vector-icon299,
.vector-icon300 {
  top: 59.29%;
  bottom: 40.02%;
}
.vector-icon300 {
  top: 65.59%;
  bottom: 33.73%;
}
.danh-mc14,
.phn-cng-vic14,
.qun-l-lng16,
.qun-l-nhn14,
.qut-vn-tay15,
.tnh-lng15 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  display: inline-block;
}
.danh-mc14,
.phn-cng-vic14,
.qun-l-lng16,
.qut-vn-tay15,
.tnh-lng15 {
  top: 45.03%;
  color: var(--color-dodgerblue);
}
.danh-mc14,
.phn-cng-vic14,
.qun-l-lng16,
.qut-vn-tay15 {
  top: 58.21%;
  left: 6.26%;
  color: var(--color-gray-600);
}
.danh-mc14,
.phn-cng-vic14,
.qun-l-lng16 {
  top: 64.8%;
}
.danh-mc14,
.qun-l-lng16 {
  top: 51.62%;
}
.danh-mc14 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.button-black-child23,
.rectangle289 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child23 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div399,
.vector-icon301 {
  position: absolute;
  top: 27.27%;
}
.vector-icon301 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div399 {
  left: 14.86%;
  font-weight: 500;
}
.button-black25 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio25 {
  margin: 0;
}
.b80,
.div400,
.puressio-belnuoritto-bancherio-container25 {
  position: absolute;
  top: 2.78%;
  left: 15.05%;
  display: none;
}
.b80,
.div400 {
  top: 4.87%;
  left: 106.05%;
}
.div400 {
  left: 114.66%;
  text-align: right;
}
.fa-solidtenge-icon25 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div401,
.fa-solidtenge-icon25,
.rectangle-icon25 {
  position: absolute;
  display: none;
}
.div401 {
  width: 34.17%;
  top: 3.65%;
  left: 54.11%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon25 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v225 {
  position: absolute;
  top: 271px;
  left: 452px;
  width: 1034px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.icon-color6 {
  position: absolute;
  height: 2.36%;
  width: 1.49%;
  top: 28.81%;
  right: 9.49%;
  bottom: 68.83%;
  left: 89.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle290 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell264,
.cell265,
.cell266,
.cell267,
.cell268,
.cell269,
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  position: absolute;
  top: 330px;
  left: 524px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 225px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell265,
.cell266,
.cell267,
.cell268,
.cell269,
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 968px;
  width: 226px;
}
.cell266,
.cell267,
.cell268,
.cell269,
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 1190px;
  width: 225px;
}
.cell267,
.cell268,
.cell269,
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 745px;
  width: 227px;
}
.cell268,
.cell269,
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  top: 723px;
  left: 524px;
  width: 225px;
}
.cell269,
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 968px;
  width: 226px;
}
.cell270,
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 1190px;
  width: 225px;
}
.cell271,
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 745px;
  width: 227px;
}
.cell272,
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  top: 525px;
  left: 525px;
  width: 225px;
}
.cell273,
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 969px;
  width: 226px;
}
.cell274,
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 1191px;
  width: 225px;
}
.cell275,
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 746px;
  width: 227px;
}
.cell276,
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  top: 426px;
  left: 526px;
  background-color: var(--color-aliceblue-100);
  width: 225px;
}
.cell277,
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 970px;
  width: 226px;
}
.cell278,
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 1192px;
  width: 225px;
}
.cell279,
.cell280,
.cell281,
.cell282,
.cell283 {
  left: 747px;
  width: 227px;
}
.cell280,
.cell281,
.cell282,
.cell283 {
  top: 624px;
  left: 524px;
  width: 225px;
}
.cell281,
.cell282,
.cell283 {
  left: 968px;
  width: 226px;
}
.cell282,
.cell283 {
  left: 1190px;
  width: 225px;
}
.cell283 {
  left: 745px;
  width: 227px;
}
.h-v-tn5,
.s-gi-lm1 {
  position: absolute;
  height: 2.06%;
  width: 5.77%;
  top: 34.51%;
  left: 50.34%;
  display: inline-block;
}
.s-gi-lm1 {
  left: 64.23%;
}
.div402,
.div403,
.div404,
.div405,
.div406,
.lng1,
.nv-018 {
  position: absolute;
  height: 2.06%;
  width: 3.84%;
  top: 34.22%;
  left: 78.98%;
  display: inline-block;
}
.div402,
.div403,
.div404,
.div405,
.div406,
.nv-018 {
  top: 43.85%;
  left: 37.51%;
}
.div402,
.div403,
.div404,
.div405,
.div406 {
  width: 2.17%;
  top: 44.15%;
  left: 65.9%;
}
.div403,
.div404,
.div405,
.div406 {
  width: 6.51%;
  top: 43.85%;
  left: 77.62%;
}
.div404,
.div405,
.div406 {
  top: 53.39%;
}
.div405,
.div406 {
  top: 63.42%;
  left: 77.56%;
}
.div406 {
  top: 72.96%;
}
.div407,
.div408,
.div409,
.m-nhn-vin8,
.nv-028,
.nv-038,
.nv-048 {
  position: absolute;
  height: 2.06%;
  width: 2.17%;
  top: 53.39%;
  left: 65.9%;
  display: inline-block;
}
.div408,
.div409,
.m-nhn-vin8,
.nv-028,
.nv-038,
.nv-048 {
  top: 63.42%;
}
.div409,
.m-nhn-vin8,
.nv-028,
.nv-038,
.nv-048 {
  top: 72.96%;
}
.m-nhn-vin8,
.nv-028,
.nv-038,
.nv-048 {
  width: 3.84%;
  top: 53.29%;
  left: 37.57%;
}
.m-nhn-vin8,
.nv-038,
.nv-048 {
  top: 63.42%;
  left: 37.63%;
}
.m-nhn-vin8,
.nv-048 {
  top: 73.25%;
  left: 37.51%;
}
.m-nhn-vin8 {
  width: 7.19%;
  top: 34.51%;
  left: 35.96%;
}
.cao-l-tuyt5,
.nguyn-bo-anh5,
.nguyn-th-hong5,
.t-quang-nh5 {
  position: absolute;
  height: 2.06%;
  width: 12.28%;
  top: 43.95%;
  left: 47.86%;
  display: inline-block;
}
.cao-l-tuyt5,
.nguyn-th-hong5,
.t-quang-nh5 {
  width: 13.21%;
  top: 53.1%;
  left: 46.93%;
}
.cao-l-tuyt5,
.t-quang-nh5 {
  top: 63.42%;
  left: 47.43%;
}
.t-quang-nh5 {
  width: 8.31%;
  top: 72.96%;
  left: 49.04%;
}
.tnh-lng-child27,
.x-attachment-bar-item-114 {
  position: absolute;
  top: 790px;
  left: 1424px;
  width: 48px;
  height: 48px;
}
.tnh-lng-child27 {
  top: 481.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 87.5px;
  height: 0.5px;
}
.tnh-lng-child28,
.tnh-lng-child29,
.tnh-lng-child30,
.tnh-lng-child31 {
  position: absolute;
  top: 875px;
  left: 1442px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.tnh-lng-child29,
.tnh-lng-child30,
.tnh-lng-child31 {
  left: 1468px;
  background-color: var(--color-lightsteelblue-100);
}
.tnh-lng-child30,
.tnh-lng-child31 {
  left: 1494px;
}
.tnh-lng-child31 {
  left: 1520px;
}
.b81,
.b82,
.b83,
.b84 {
  position: absolute;
  top: 882px;
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b82,
.b83,
.b84 {
  left: 1477px;
  width: 8px;
}
.b83,
.b84 {
  left: 1503px;
}
.b84 {
  left: 1524px;
  width: 17px;
}
.tnh-lng14 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
