.n-removebg-preview-5-icon {
  position: absolute;
  top: 18px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey13 {
  color: var(--color-gray-400);
}
.xin-cho-container13 {
  position: absolute;
  width: 21.44%;
  top: 4.72%;
  left: 67.93%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.xc-nhn-thnh-cng-child127 {
  position: absolute;
  top: 152px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child128,
.xc-nhn-thnh-cng-child129 {
  position: absolute;
  top: 108px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.xc-nhn-thnh-cng-child129 {
  top: 936px;
  left: -1px;
  width: 1615px;
}
.xc-nhn-thnh-cng-child133 {
  position: absolute;
  top: 143px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child134,
.xc-nhn-thnh-cng-child135 {
  position: absolute;
  top: 82px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.xc-nhn-thnh-cng-child135 {
  left: 86px;
}
.xc-nhn-thnh-cng-child136 {
  position: absolute;
  top: 93px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.xc-nhn-thnh-cng-child137 {
  position: absolute;
  top: 48px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child138 {
  position: absolute;
  top: 85px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.xc-nhn-thnh-cng-child140 {
  position: absolute;
  top: 81px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me28 {
  position: absolute;
  top: 88px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.xc-nhn-thnh-cng-child141 {
  position: absolute;
  top: 72px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.xc-nhn-thnh-cng-child142 {
  position: absolute;
  top: 75.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me29,
.xc-nhn-thnh-cng-child143 {
  position: absolute;
  top: 80px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me29 {
  top: 88px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px13 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px13,
.ic-view-module-24px13,
.vector-icon262 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px13 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon262 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div351,
.div352 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div352 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent11 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div354 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon263 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent11 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view13 {
  position: absolute;
  top: 169px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b72 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b72,
.div355,
.div356,
.g13 {
  position: absolute;
  display: none;
}
.g13 {
  top: 11.85%;
  left: 16.43%;
}
.div355,
.div356 {
  left: 19.93%;
}
.div355 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div356 {
  top: 25.25%;
}
.div356,
.div357,
.div358 {
  color: var(--color-black);
}
.div357 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div358 {
  top: 38.65%;
}
.div358,
.div359,
.div360 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div359 {
  top: 45.35%;
  color: var(--color-black);
}
.div360 {
  top: 52.05%;
}
.vector-icon264,
.vector-icon265 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon265 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon266,
.zg13 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon266 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div361,
.vector-icon267 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon267 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div362,
.vector-icon268 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon268 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div363,
.vector-icon269 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon269 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div364,
.vector-icon270 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon270 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d26,
.vector-icon271 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon271 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d27,
.vector-icon272 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon272 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div365,
.vector-icon273 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon273 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div366 {
  top: 92.25%;
  left: 16.43%;
}
.div366,
.div367,
.vector-icon274 {
  position: absolute;
  display: none;
}
.vector-icon274 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div367 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu13 {
  position: absolute;
  top: 274px;
  left: 68px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon18 {
  position: absolute;
  top: 780px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon275,
.vector-icon276,
.vector-icon277,
.vector-icon278,
.vector-icon279 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 46.21%;
  right: 80.35%;
  bottom: 53.33%;
  left: 19.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon276,
.vector-icon277,
.vector-icon278,
.vector-icon279 {
  height: 0.69%;
  width: 0.37%;
  top: 39.33%;
  right: 80.17%;
  bottom: 59.98%;
  left: 19.46%;
}
.vector-icon277,
.vector-icon278,
.vector-icon279 {
  top: 52.7%;
  bottom: 46.61%;
}
.vector-icon278,
.vector-icon279 {
  top: 59.59%;
  bottom: 39.72%;
}
.vector-icon279 {
  top: 65.88%;
  bottom: 33.43%;
}
.danh-mc13,
.phn-cng-vic13,
.qun-l-lng15,
.qun-l-nhn13,
.qut-vn-tay14,
.tnh-lng13 {
  position: absolute;
  height: 2.06%;
  width: 12.64%;
  top: 38.74%;
  left: 6.2%;
  display: inline-block;
}
.danh-mc13,
.phn-cng-vic13,
.qun-l-lng15,
.qut-vn-tay14,
.tnh-lng13 {
  top: 45.33%;
  color: var(--color-dodgerblue);
}
.danh-mc13,
.phn-cng-vic13,
.qun-l-lng15,
.qut-vn-tay14 {
  top: 58.51%;
  left: 6.26%;
  color: var(--color-gray-600);
}
.danh-mc13,
.phn-cng-vic13,
.qun-l-lng15 {
  top: 65.09%;
}
.danh-mc13,
.qun-l-lng15 {
  top: 51.92%;
}
.danh-mc13 {
  top: 313px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.button-black-child21,
.rectangle267 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child21 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div368,
.vector-icon280 {
  position: absolute;
  top: 27.27%;
}
.vector-icon280 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div368 {
  left: 14.86%;
  font-weight: 500;
}
.button-black23 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio23 {
  margin: 0;
}
.b73,
.div369,
.puressio-belnuoritto-bancherio-container23 {
  position: absolute;
  top: 2.78%;
  left: 15.05%;
  display: none;
}
.b73,
.div369 {
  top: 4.87%;
  left: 106.05%;
}
.div369 {
  left: 114.66%;
  text-align: right;
}
.fa-solidtenge-icon23 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div370,
.fa-solidtenge-icon23,
.rectangle-icon23 {
  position: absolute;
  display: none;
}
.div370 {
  width: 34.17%;
  top: 3.65%;
  left: 54.11%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon23 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v223 {
  position: absolute;
  top: 274px;
  left: 452px;
  width: 1034px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.icon-color5 {
  position: absolute;
  height: 2.36%;
  width: 1.49%;
  top: 29.11%;
  right: 9.51%;
  bottom: 68.53%;
  left: 89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle268 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell244,
.cell245,
.cell246,
.cell247,
.cell248,
.cell249,
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  position: absolute;
  top: 333px;
  left: 524px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 225px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell245,
.cell246,
.cell247,
.cell248,
.cell249,
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 968px;
  width: 226px;
}
.cell246,
.cell247,
.cell248,
.cell249,
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 1190px;
  width: 225px;
}
.cell247,
.cell248,
.cell249,
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 745px;
  width: 227px;
}
.cell248,
.cell249,
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  top: 726px;
  left: 524px;
  width: 225px;
}
.cell249,
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 968px;
  width: 226px;
}
.cell250,
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 1190px;
  width: 225px;
}
.cell251,
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 745px;
  width: 227px;
}
.cell252,
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  top: 528px;
  left: 525px;
  width: 225px;
}
.cell253,
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 969px;
  width: 226px;
}
.cell254,
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 1191px;
  width: 225px;
}
.cell255,
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 746px;
  width: 227px;
}
.cell256,
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  top: 429px;
  left: 526px;
  background-color: var(--color-aliceblue-100);
  width: 225px;
}
.cell257,
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 970px;
  width: 226px;
}
.cell258,
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 1192px;
  width: 225px;
}
.cell259,
.cell260,
.cell261,
.cell262,
.cell263 {
  left: 747px;
  width: 227px;
}
.cell260,
.cell261,
.cell262,
.cell263 {
  top: 627px;
  left: 524px;
  width: 225px;
}
.cell261,
.cell262,
.cell263 {
  left: 968px;
  width: 226px;
}
.cell262,
.cell263 {
  left: 1190px;
  width: 225px;
}
.cell263 {
  left: 745px;
  width: 227px;
}
.h-v-tn4,
.s-gi-lm {
  position: absolute;
  height: 2.06%;
  width: 5.76%;
  top: 34.81%;
  left: 50.33%;
  display: inline-block;
}
.s-gi-lm {
  left: 64.21%;
}
.div371,
.div372,
.div373,
.div374,
.div375,
.lng,
.nv-017 {
  position: absolute;
  height: 2.06%;
  width: 3.84%;
  top: 34.51%;
  left: 78.96%;
  display: inline-block;
}
.div371,
.div372,
.div373,
.div374,
.div375,
.nv-017 {
  top: 44.15%;
  left: 37.5%;
}
.div371,
.div372,
.div373,
.div374,
.div375 {
  width: 2.17%;
  top: 44.44%;
  left: 65.88%;
}
.div372,
.div373,
.div374,
.div375 {
  width: 6.51%;
  top: 44.15%;
  left: 77.6%;
}
.div373,
.div374,
.div375 {
  top: 53.69%;
}
.div374,
.div375 {
  top: 63.72%;
  left: 77.53%;
}
.div375 {
  top: 73.25%;
}
.div376,
.div377,
.div378,
.m-nhn-vin7,
.nv-027,
.nv-037,
.nv-047 {
  position: absolute;
  height: 2.06%;
  width: 2.17%;
  top: 53.69%;
  left: 65.88%;
  display: inline-block;
}
.div377,
.div378,
.m-nhn-vin7,
.nv-027,
.nv-037,
.nv-047 {
  top: 63.72%;
}
.div378,
.m-nhn-vin7,
.nv-027,
.nv-037,
.nv-047 {
  top: 73.25%;
}
.m-nhn-vin7,
.nv-027,
.nv-037,
.nv-047 {
  width: 3.84%;
  top: 53.59%;
  left: 37.56%;
}
.m-nhn-vin7,
.nv-037,
.nv-047 {
  top: 63.72%;
  left: 37.62%;
}
.m-nhn-vin7,
.nv-047 {
  top: 73.55%;
  left: 37.5%;
}
.m-nhn-vin7 {
  width: 7.19%;
  top: 34.81%;
  left: 35.95%;
}
.cao-l-tuyt4,
.nguyn-bo-anh4,
.nguyn-th-hong4,
.t-quang-nh4 {
  position: absolute;
  height: 2.06%;
  width: 12.27%;
  top: 44.25%;
  left: 47.85%;
  display: inline-block;
}
.cao-l-tuyt4,
.nguyn-th-hong4,
.t-quang-nh4 {
  width: 13.2%;
  top: 53.39%;
  left: 46.92%;
}
.cao-l-tuyt4,
.t-quang-nh4 {
  top: 63.72%;
  left: 47.41%;
}
.t-quang-nh4 {
  width: 8.3%;
  top: 73.25%;
  left: 49.02%;
}
.x-attachment-bar-item-113 {
  position: absolute;
  top: 793px;
  left: 1424px;
  width: 48px;
  height: 48px;
}
.xc-nhn-thnh-cng-child155 {
  position: absolute;
  top: 484.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 87.5px;
  height: 0.5px;
}
.xc-nhn-thnh-cng-child156,
.xc-nhn-thnh-cng-child157,
.xc-nhn-thnh-cng-child158,
.xc-nhn-thnh-cng-child159 {
  position: absolute;
  top: 878px;
  left: 1442px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.xc-nhn-thnh-cng-child157,
.xc-nhn-thnh-cng-child158,
.xc-nhn-thnh-cng-child159 {
  left: 1468px;
  background-color: var(--color-lightsteelblue-100);
}
.xc-nhn-thnh-cng-child158,
.xc-nhn-thnh-cng-child159 {
  left: 1494px;
}
.xc-nhn-thnh-cng-child159 {
  left: 1520px;
}
.b74,
.b75,
.b76,
.b77 {
  position: absolute;
  top: 885px;
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b75,
.b76,
.b77 {
  left: 1477px;
  width: 8px;
}
.b76,
.b77 {
  left: 1503px;
}
.b77 {
  left: 1524px;
  width: 17px;
}
.rectangle288,
.xc-nhn-thnh-cng-child160 {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 1613px;
  height: 1017px;
}
.rectangle288 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-400);
}
.puressio-belnuoritto-bancherio-container24 {
  position: absolute;
  top: 5.76%;
  left: 40.73%;
  display: none;
}
.b78 {
  top: 10.07%;
  left: 287.06%;
}
.b78,
.div380,
.div381 {
  position: absolute;
  display: none;
}
.div380 {
  top: 10.07%;
  left: 310.37%;
  text-align: right;
}
.div381 {
  width: 92.5%;
  top: 7.55%;
  left: 146.48%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v224 {
  position: absolute;
  top: 407px;
  left: 781px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-200);
  width: 382px;
  height: 278px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.cp-nht-thnh3 {
  position: absolute;
  height: 5.51%;
  width: 17.42%;
  top: 56.64%;
  left: 51.87%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alatsi);
  color: var(--color-dodgerblue);
  display: inline-block;
}
.vector-icon282 {
  position: absolute;
  top: 479px;
  left: 935px;
  width: 86px;
  height: 67px;
}
.xc-nhn-thnh-cng4 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
