.n-removebg-preview-15-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey8 {
  color: var(--color-gray-400);
}
.xin-cho-container8 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.xc-nhn-child {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.xc-nhn-inner,
.xc-nhn-item {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.xc-nhn-inner {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.xc-nhn-child4 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-child5,
.xc-nhn-child6,
.xc-nhn-child7 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.xc-nhn-child6,
.xc-nhn-child7 {
  left: 86px;
}
.xc-nhn-child7 {
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.xc-nhn-child8 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-child11,
.xc-nhn-child9 {
  position: absolute;
  box-sizing: border-box;
}
.xc-nhn-child9 {
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  width: 27px;
  height: 4px;
}
.xc-nhn-child11 {
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  width: 4px;
  height: 55px;
}
.me18 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.xc-nhn-child12,
.xc-nhn-child13 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.xc-nhn-child13 {
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me19,
.xc-nhn-child14 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me19 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-list-24px8,
.ic-view-module-24px8,
.vector-icon162 {
  position: absolute;
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px8,
.vector-icon162 {
  right: 3.13%;
  left: 95.62%;
}
.vector-icon162 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div226,
.div227 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div227 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent6 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div229 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon163 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent6 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view8,
.xc-nhn-child26 {
  position: absolute;
  left: 0;
  width: 1613px;
}
.filters-and-view8 {
  top: 166px;
  background-color: var(--color-royalblue);
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.xc-nhn-child26 {
  top: 0;
  background-color: var(--color-gainsboro-400);
  height: 1017px;
}
.button-black-child13,
.rectangle78 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child13 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div230,
.vector-icon164 {
  position: absolute;
  top: 27.27%;
}
.vector-icon164 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div230 {
  left: 14.86%;
  font-weight: 500;
}
.button-black15 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.b43,
.div231,
.puressio-belnuoritto-bancherio-container15 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b43,
.div231 {
  top: 4.87%;
  left: 104.94%;
}
.div231 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon15 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div232,
.fa-solidtenge-icon15,
.rectangle-icon15 {
  position: absolute;
  display: none;
}
.div232 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon15 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v215 {
  position: absolute;
  top: 269px;
  left: 449px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b44 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b44,
.div233,
.div234,
.g8 {
  position: absolute;
  display: none;
}
.g8 {
  top: 11.85%;
  left: 16.43%;
}
.div233,
.div234 {
  left: 19.93%;
}
.div233 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div234 {
  top: 25.25%;
}
.div234,
.div235,
.div236 {
  color: var(--color-black);
}
.div235 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div236 {
  top: 38.65%;
}
.div236,
.div237,
.div238 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div237 {
  top: 45.35%;
  color: var(--color-black);
}
.div238 {
  top: 52.05%;
}
.vector-icon165,
.vector-icon166 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon166 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon167,
.zg8 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon167 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div239,
.vector-icon168 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon168 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div240,
.vector-icon169 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon169 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div241,
.vector-icon170 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon170 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div242,
.vector-icon171 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon171 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d16,
.vector-icon172 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon172 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d17,
.vector-icon173 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon173 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div243,
.vector-icon174 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon174 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div244 {
  top: 92.25%;
  left: 16.43%;
}
.div244,
.div245,
.vector-icon175 {
  position: absolute;
  display: none;
}
.vector-icon175 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div245 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu8 {
  position: absolute;
  top: 269px;
  left: 64px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon13 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon176,
.vector-icon177,
.vector-icon178,
.vector-icon179,
.vector-icon180 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 59.29%;
  right: 80.16%;
  bottom: 40.25%;
  left: 19.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon177,
.vector-icon178,
.vector-icon179,
.vector-icon180 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon178,
.vector-icon179,
.vector-icon180 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon179,
.vector-icon180 {
  top: 65.88%;
  bottom: 33.43%;
}
.vector-icon180 {
  top: 52.7%;
  bottom: 46.61%;
}
.danh-mc8,
.danh-sch-vn3,
.phn-cng-vic8,
.qun-l-lng10,
.qun-l-nhn8,
.qut-vn-tay9,
.tnh-lng8 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  color: var(--color-gray-900);
  display: inline-block;
}
.danh-mc8,
.danh-sch-vn3,
.phn-cng-vic8,
.qun-l-lng10,
.qut-vn-tay9,
.tnh-lng8 {
  top: 45.03%;
}
.danh-mc8,
.danh-sch-vn3,
.phn-cng-vic8,
.qun-l-lng10,
.qut-vn-tay9 {
  top: 58.21%;
  left: 6.26%;
  color: var(--color-dodgerblue);
}
.danh-mc8,
.danh-sch-vn3,
.phn-cng-vic8,
.qun-l-lng10 {
  width: 16.24%;
  top: 78.76%;
  left: 76.38%;
}
.danh-mc8,
.phn-cng-vic8,
.qun-l-lng10 {
  width: 12.65%;
  top: 64.8%;
  left: 6.26%;
  color: var(--color-gray-800);
}
.danh-mc8,
.qun-l-lng10 {
  top: 51.62%;
  color: var(--color-gray-900);
}
.danh-mc8 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.fingerprint-43,
.xc-nhn-child27 {
  position: absolute;
  box-sizing: border-box;
}
.xc-nhn-child27 {
  top: 615.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  width: 106.5px;
  height: 0.5px;
}
.fingerprint-43 {
  top: 296px;
  left: 764px;
  border: 1px solid var(--color-lightsteelblue-200);
  width: 460px;
  height: 529px;
}
.b9597a7015b23d8f70ee4c712d902e-icon3 {
  position: absolute;
  top: 346px;
  left: 893px;
  width: 156px;
  height: 223px;
  object-fit: cover;
}
.rectangle79,
.xc-nhn-child28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 1613px;
  height: 1017px;
}
.rectangle79 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-400);
}
.puressio-belnuoritto-bancherio-container16 {
  position: absolute;
  top: 5.76%;
  left: 28.71%;
  display: none;
}
.b45 {
  top: 10.07%;
  left: 202.32%;
}
.b45,
.div247,
.div248 {
  position: absolute;
  display: none;
}
.div247 {
  top: 10.07%;
  left: 218.75%;
  text-align: right;
}
.div248 {
  width: 65.19%;
  top: 7.55%;
  left: 103.24%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v216 {
  position: absolute;
  top: 402px;
  left: 701px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-200);
  width: 542px;
  height: 278px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sf-pro-display);
}
.xc-nhn-child29,
.xc-nhn-child30 {
  position: absolute;
  top: 600px;
  left: 732px;
  border-radius: var(--br-71xl);
  background-color: var(--color-dodgerblue);
  width: 161px;
  height: 57px;
}
.xc-nhn-child30 {
  left: 1007px;
  background-color: var(--color-gray-300);
  width: 191px;
}
.nhn-vin-nguyn {
  margin: 0;
}
.khng-phi-ti,
.nhn-vin-nguyn-container,
.xc-nhn1 {
  position: absolute;
  font-family: var(--font-alatsi);
  display: inline-block;
}
.nhn-vin-nguyn-container {
  height: 7.57%;
  width: 25.6%;
  top: 45.53%;
  left: 47.68%;
  font-size: var(--font-size-11xl);
  color: var(--color-dodgerblue);
}
.khng-phi-ti,
.xc-nhn1 {
  height: 3.83%;
  width: 8.06%;
  top: 59.88%;
  left: 47.3%;
  font-size: var(--font-size-6xl);
}
.khng-phi-ti {
  width: 12.15%;
  left: 63.17%;
}
.xc-nhn {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
