.n-removebg-preview-12-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey6 {
  color: var(--color-gray-400);
}
.xin-cho-container6 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.xc-nhn-tht-bi-child {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.xc-nhn-tht-bi-inner,
.xc-nhn-tht-bi-item {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.xc-nhn-tht-bi-inner {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.xc-nhn-tht-bi-child4 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-tht-bi-child5,
.xc-nhn-tht-bi-child6 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.xc-nhn-tht-bi-child6 {
  left: 86px;
}
.xc-nhn-tht-bi-child7 {
  position: absolute;
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.xc-nhn-tht-bi-child8 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-tht-bi-child9 {
  position: absolute;
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.xc-nhn-tht-bi-child11 {
  position: absolute;
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me14 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.xc-nhn-tht-bi-child12 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.xc-nhn-tht-bi-child13 {
  position: absolute;
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me15,
.xc-nhn-tht-bi-child14 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me15 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-list-24px6,
.ic-view-module-24px6,
.vector-icon120 {
  position: absolute;
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px6,
.vector-icon120 {
  right: 3.13%;
  left: 95.62%;
}
.vector-icon120 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div180,
.div181 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div181 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent4 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div183 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon121 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent4 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view6 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.xc-nhn-tht-bi-child26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.button-black-child9,
.rectangle74 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child9 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div184,
.vector-icon122 {
  position: absolute;
  top: 27.27%;
}
.vector-icon122 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div184 {
  left: 14.86%;
  font-weight: 500;
}
.button-black11 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.b37,
.div185,
.puressio-belnuoritto-bancherio-container11 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b37,
.div185 {
  top: 4.87%;
  left: 104.94%;
}
.div185 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon11 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div186,
.fa-solidtenge-icon11,
.rectangle-icon11 {
  position: absolute;
  display: none;
}
.div186 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon11 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v211 {
  position: absolute;
  top: 269px;
  left: 449px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b38 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b38,
.div187,
.div188,
.g6 {
  position: absolute;
  display: none;
}
.g6 {
  top: 11.85%;
  left: 16.43%;
}
.div187,
.div188 {
  left: 19.93%;
}
.div187 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div188 {
  top: 25.25%;
}
.div188,
.div189,
.div190 {
  color: var(--color-black);
}
.div189 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div190 {
  top: 38.65%;
}
.div190,
.div191,
.div192 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div191 {
  top: 45.35%;
  color: var(--color-black);
}
.div192 {
  top: 52.05%;
}
.vector-icon123,
.vector-icon124 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon124 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon125,
.zg6 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon125 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div193,
.vector-icon126 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon126 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div194,
.vector-icon127 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon127 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div195,
.vector-icon128 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon128 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div196,
.vector-icon129 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon129 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d12,
.vector-icon130 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon130 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d13,
.vector-icon131 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon131 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div197,
.vector-icon132 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon132 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div198 {
  top: 92.25%;
  left: 16.43%;
}
.div198,
.div199,
.vector-icon133 {
  position: absolute;
  display: none;
}
.vector-icon133 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div199 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu6 {
  position: absolute;
  top: 269px;
  left: 64px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon11 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon134,
.vector-icon135,
.vector-icon136,
.vector-icon137,
.vector-icon138 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 59.29%;
  right: 80.16%;
  bottom: 40.25%;
  left: 19.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon135,
.vector-icon136,
.vector-icon137,
.vector-icon138 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon136,
.vector-icon137,
.vector-icon138 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon137,
.vector-icon138 {
  top: 65.88%;
  bottom: 33.43%;
}
.vector-icon138 {
  top: 52.7%;
  bottom: 46.61%;
}
.qun-l-nhn6,
.tnh-lng6 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  color: var(--color-gray-900);
  display: inline-block;
}
.tnh-lng6 {
  top: 45.03%;
}
.danh-mc6,
.danh-sch-vn1,
.phn-cng-vic6,
.qun-l-lng8,
.qut-vn-tay7 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 58.21%;
  left: 6.26%;
  display: inline-block;
}
.danh-mc6,
.danh-sch-vn1,
.phn-cng-vic6,
.qun-l-lng8 {
  width: 16.24%;
  top: 78.76%;
  left: 76.38%;
}
.danh-mc6,
.phn-cng-vic6,
.qun-l-lng8 {
  width: 12.65%;
  top: 64.8%;
  left: 6.26%;
  color: var(--color-gray-800);
}
.danh-mc6,
.qun-l-lng8 {
  top: 51.62%;
  color: var(--color-gray-900);
}
.danh-mc6 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.xc-nhn-tht-bi-child27 {
  position: absolute;
  top: 615.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 106.5px;
  height: 0.5px;
}
.fingerprint-41 {
  position: absolute;
  top: 296px;
  left: 764px;
  border: 1px solid var(--color-lightsteelblue-200);
  box-sizing: border-box;
  width: 460px;
  height: 529px;
}
.b9597a7015b23d8f70ee4c712d902e-icon1 {
  position: absolute;
  top: 346px;
  left: 893px;
  width: 156px;
  height: 223px;
  object-fit: cover;
}
.xin-mi-nhp1 {
  position: absolute;
  height: 7.47%;
  width: 20.71%;
  top: 61.85%;
  left: 50.77%;
  font-size: var(--font-size-16xl);
  font-family: var(--font-alatsi);
  display: inline-block;
}
.xc-nhn-tht-bi-child28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.48);
  width: 1613px;
  height: 1017px;
}
.rectangle75 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-400);
}
.puressio-belnuoritto-bancherio-container12 {
  position: absolute;
  top: 5.76%;
  left: 40.73%;
  display: none;
}
.b39 {
  top: 10.07%;
  left: 287.06%;
}
.b39,
.div201,
.div202 {
  position: absolute;
  display: none;
}
.div201 {
  top: 10.07%;
  left: 310.37%;
  text-align: right;
}
.div202 {
  width: 92.5%;
  top: 7.55%;
  left: 146.48%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v212 {
  position: absolute;
  top: 402px;
  left: 792px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-200);
  width: 382px;
  height: 278px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.vector-icon140 {
  position: absolute;
  top: 458px;
  left: 938px;
  width: 72px;
  height: 71px;
}
.chm-cng-tht {
  margin: 0;
}
.chm-cng-tht-container {
  position: absolute;
  height: 7.87%;
  width: 19.28%;
  top: 56.34%;
  left: 52.94%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alatsi);
  white-space: pre-wrap;
  display: inline-block;
}
.xc-nhn-tht-bi {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
  font-family: var(--font-inter);
}
