.n-removebg-preview-11-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey7 {
  color: var(--color-gray-400);
}
.xin-cho-container7 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.xc-nhn-thnh-cng-child28 {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child29,
.xc-nhn-thnh-cng-child30 {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.xc-nhn-thnh-cng-child30 {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.xc-nhn-thnh-cng-child34 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child35,
.xc-nhn-thnh-cng-child36 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.xc-nhn-thnh-cng-child36 {
  left: 86px;
}
.xc-nhn-thnh-cng-child37 {
  position: absolute;
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.xc-nhn-thnh-cng-child38 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child39 {
  position: absolute;
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.xc-nhn-thnh-cng-child41 {
  position: absolute;
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me16 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.xc-nhn-thnh-cng-child42 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.xc-nhn-thnh-cng-child43 {
  position: absolute;
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me17,
.xc-nhn-thnh-cng-child44 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me17 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-list-24px7,
.ic-view-module-24px7,
.vector-icon141 {
  position: absolute;
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px7,
.vector-icon141 {
  right: 3.13%;
  left: 95.62%;
}
.vector-icon141 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div203,
.div204 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div204 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent5 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div206 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon142 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent5 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view7 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.xc-nhn-thnh-cng-child56 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-400);
  width: 1613px;
  height: 1017px;
}
.button-black-child11,
.rectangle76 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child11 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div207,
.vector-icon143 {
  position: absolute;
  top: 27.27%;
}
.vector-icon143 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div207 {
  left: 14.86%;
  font-weight: 500;
}
.button-black13 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio13 {
  margin: 0;
}
.b40,
.div208,
.puressio-belnuoritto-bancherio-container13 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b40,
.div208 {
  top: 4.87%;
  left: 104.94%;
}
.div208 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon13 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div209,
.fa-solidtenge-icon13,
.rectangle-icon13 {
  position: absolute;
  display: none;
}
.div209 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon13 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v213 {
  position: absolute;
  top: 269px;
  left: 449px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b41 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b41,
.div210,
.div211,
.g7 {
  position: absolute;
  display: none;
}
.g7 {
  top: 11.85%;
  left: 16.43%;
}
.div210,
.div211 {
  left: 19.93%;
}
.div210 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div211 {
  top: 25.25%;
}
.div211,
.div212,
.div213 {
  color: var(--color-black);
}
.div212 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div213 {
  top: 38.65%;
}
.div213,
.div214,
.div215 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div214 {
  top: 45.35%;
  color: var(--color-black);
}
.div215 {
  top: 52.05%;
}
.vector-icon144,
.vector-icon145 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon145 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon146,
.zg7 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon146 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div216,
.vector-icon147 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon147 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div217,
.vector-icon148 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon148 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div218,
.vector-icon149 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon149 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div219,
.vector-icon150 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon150 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d14,
.vector-icon151 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon151 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d15,
.vector-icon152 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon152 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div220,
.vector-icon153 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon153 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div221 {
  top: 92.25%;
  left: 16.43%;
}
.div221,
.div222,
.vector-icon154 {
  position: absolute;
  display: none;
}
.vector-icon154 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div222 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu7 {
  position: absolute;
  top: 269px;
  left: 64px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon12 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon155,
.vector-icon156,
.vector-icon157,
.vector-icon158,
.vector-icon159 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 59.29%;
  right: 80.16%;
  bottom: 40.25%;
  left: 19.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon156,
.vector-icon157,
.vector-icon158,
.vector-icon159 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon157,
.vector-icon158,
.vector-icon159 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon158,
.vector-icon159 {
  top: 65.88%;
  bottom: 33.43%;
}
.vector-icon159 {
  top: 52.7%;
  bottom: 46.61%;
}
.qun-l-nhn7,
.tnh-lng7 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  color: var(--color-gray-900);
  display: inline-block;
}
.tnh-lng7 {
  top: 45.03%;
}
.danh-mc7,
.danh-sch-vn2,
.phn-cng-vic7,
.qun-l-lng9,
.qut-vn-tay8 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 58.21%;
  left: 6.26%;
  display: inline-block;
}
.danh-mc7,
.danh-sch-vn2,
.phn-cng-vic7,
.qun-l-lng9 {
  width: 16.24%;
  top: 78.76%;
  left: 76.38%;
}
.danh-mc7,
.phn-cng-vic7,
.qun-l-lng9 {
  width: 12.65%;
  top: 64.8%;
  left: 6.26%;
  color: var(--color-gray-800);
}
.danh-mc7,
.qun-l-lng9 {
  top: 51.62%;
  color: var(--color-gray-900);
}
.danh-mc7 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.xc-nhn-thnh-cng-child57 {
  position: absolute;
  top: 615.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 106.5px;
  height: 0.5px;
}
.fingerprint-42 {
  position: absolute;
  top: 296px;
  left: 764px;
  border: 1px solid var(--color-lightsteelblue-200);
  box-sizing: border-box;
  width: 460px;
  height: 529px;
}
.b9597a7015b23d8f70ee4c712d902e-icon2 {
  position: absolute;
  top: 346px;
  left: 893px;
  width: 156px;
  height: 223px;
  object-fit: cover;
}
.xin-mi-nhp2 {
  position: absolute;
  height: 7.47%;
  width: 20.71%;
  top: 61.85%;
  left: 50.77%;
  font-size: var(--font-size-16xl);
  font-family: var(--font-alatsi);
  display: inline-block;
}
.rectangle77,
.xc-nhn-thnh-cng-child58 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 1613px;
  height: 1017px;
}
.rectangle77 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-400);
}
.puressio-belnuoritto-bancherio-container14 {
  position: absolute;
  top: 5.76%;
  left: 40.73%;
  display: none;
}
.b42 {
  top: 10.07%;
  left: 287.06%;
}
.b42,
.div224,
.div225 {
  position: absolute;
  display: none;
}
.div224 {
  top: 10.07%;
  left: 310.37%;
  text-align: right;
}
.div225 {
  width: 92.5%;
  top: 7.55%;
  left: 146.48%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v214 {
  position: absolute;
  top: 402px;
  left: 792px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-200);
  width: 382px;
  height: 278px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.chm-cng-thnh,
.vector-icon161 {
  position: absolute;
  top: 473px;
  left: 940px;
  width: 86px;
  height: 67px;
}
.chm-cng-thnh {
  height: 5.51%;
  width: 19.28%;
  top: 56.34%;
  left: 52.2%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alatsi);
  display: inline-block;
}
.xc-nhn-thnh-cng1 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
  font-family: var(--font-inter);
}
