.ca-2,
.ca-21,
.ca-3 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 44.35%;
  left: 57.28%;
  display: inline-block;
}
.ca-21,
.ca-3 {
  left: 56.54%;
}
.ca-3 {
  top: 53.79%;
  left: 67.27%;
}
.n-removebg-preview-8-icon {
  position: absolute;
  top: 15px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey9 {
  color: var(--color-gray-400);
}
.xin-cho-container9 {
  position: absolute;
  width: 21.45%;
  top: 4.42%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.xc-nhn-thnh-cng-child59 {
  position: absolute;
  top: 149px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child60,
.xc-nhn-thnh-cng-child61 {
  position: absolute;
  top: 105px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.xc-nhn-thnh-cng-child61 {
  top: 933px;
  left: -1px;
  width: 1615px;
}
.xc-nhn-thnh-cng-child65 {
  position: absolute;
  top: 140px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child66,
.xc-nhn-thnh-cng-child67 {
  position: absolute;
  top: 79px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.xc-nhn-thnh-cng-child67 {
  left: 86px;
}
.xc-nhn-thnh-cng-child68 {
  position: absolute;
  top: 90px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.xc-nhn-thnh-cng-child69 {
  position: absolute;
  top: 45px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child70 {
  position: absolute;
  top: 82px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.xc-nhn-thnh-cng-child72 {
  position: absolute;
  top: 78px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me20 {
  position: absolute;
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.xc-nhn-thnh-cng-child73 {
  position: absolute;
  top: 69px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.xc-nhn-thnh-cng-child74 {
  position: absolute;
  top: 72.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me21,
.xc-nhn-thnh-cng-child75 {
  position: absolute;
  top: 77px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me21 {
  top: 85px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px9 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px9,
.ic-view-module-24px9,
.vector-icon182 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px9 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon182 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div249,
.div250 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div250 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent7 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div252 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon183 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent7 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view9 {
  position: absolute;
  top: 166px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.button-black-child15,
.rectangle80 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child15 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div253,
.vector-icon184 {
  position: absolute;
  top: 27.27%;
}
.vector-icon184 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div253 {
  left: 14.86%;
  font-weight: 500;
}
.button-black17 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio17 {
  margin: 0;
}
.b46,
.div254,
.puressio-belnuoritto-bancherio-container17 {
  position: absolute;
  top: 2.78%;
  left: 14.89%;
  display: none;
}
.b46,
.div254 {
  top: 4.87%;
  left: 104.94%;
}
.div254 {
  left: 113.46%;
  text-align: right;
}
.fa-solidtenge-icon17 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div255,
.fa-solidtenge-icon17,
.rectangle-icon17 {
  position: absolute;
  display: none;
}
.div255 {
  width: 33.81%;
  top: 3.65%;
  left: 53.54%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon17 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v217 {
  position: absolute;
  top: 269px;
  left: 449px;
  width: 1045px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b47 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b47,
.div256,
.div257,
.g9 {
  position: absolute;
  display: none;
}
.g9 {
  top: 11.85%;
  left: 16.43%;
}
.div256,
.div257 {
  left: 19.93%;
}
.div256 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div257 {
  top: 25.25%;
}
.div257,
.div258,
.div259 {
  color: var(--color-black);
}
.div258 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div259 {
  top: 38.65%;
}
.div259,
.div260,
.div261 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div260 {
  top: 45.35%;
  color: var(--color-black);
}
.div261 {
  top: 52.05%;
}
.vector-icon185,
.vector-icon186 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon186 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon187,
.zg9 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon187 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div262,
.vector-icon188 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon188 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div263,
.vector-icon189 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon189 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div264,
.vector-icon190 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon190 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div265,
.vector-icon191 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon191 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d18,
.vector-icon192 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon192 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d19,
.vector-icon193 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon193 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div266,
.vector-icon194 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon194 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div267 {
  top: 92.25%;
  left: 16.43%;
}
.div267,
.div268,
.vector-icon195 {
  position: absolute;
  display: none;
}
.vector-icon195 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div268 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu9 {
  position: absolute;
  top: 269px;
  left: 64px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon14 {
  position: absolute;
  top: 777px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon196,
.vector-icon197,
.vector-icon198,
.vector-icon199,
.vector-icon200 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 65.78%;
  right: 80.1%;
  bottom: 33.76%;
  left: 19.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon197,
.vector-icon198,
.vector-icon199,
.vector-icon200 {
  height: 0.69%;
  width: 0.37%;
  top: 39.04%;
  right: 80.16%;
  bottom: 60.28%;
  left: 19.47%;
}
.vector-icon198,
.vector-icon199,
.vector-icon200 {
  top: 46.12%;
  bottom: 53.2%;
}
.vector-icon199,
.vector-icon200 {
  top: 59.29%;
  bottom: 40.02%;
}
.vector-icon200 {
  top: 52.7%;
  bottom: 46.61%;
}
.qun-l-nhn9,
.tnh-lng9 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.45%;
  left: 6.2%;
  display: inline-block;
}
.tnh-lng9 {
  top: 45.03%;
}
.qut-vn-tay10 {
  top: 58.21%;
  color: var(--color-gray-600);
}
.danh-mc9,
.phn-cng-vic9,
.qun-l-lng11,
.qut-vn-tay10 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  left: 6.26%;
  display: inline-block;
}
.phn-cng-vic9 {
  top: 64.8%;
  color: var(--color-dodgerblue);
}
.danh-mc9,
.qun-l-lng11 {
  top: 51.62%;
}
.danh-mc9 {
  top: 310px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.xc-nhn-thnh-cng-child87 {
  position: absolute;
  top: 681.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 164.5px;
  height: 0.5px;
}
.rectangle81 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell63,
.cell64,
.cell65,
.cell66,
.cell67,
.cell68,
.cell69,
.cell70 {
  position: absolute;
  top: 335px;
  left: 478px;
  background-color: var(--color-steelblue-300);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 170px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell64,
.cell65,
.cell66,
.cell67,
.cell68,
.cell69,
.cell70 {
  left: 649px;
  background-color: var(--grey-0);
  width: 86px;
}
.cell65,
.cell66,
.cell67,
.cell68,
.cell69,
.cell70 {
  left: 731px;
  width: 87px;
}
.cell66,
.cell67,
.cell68,
.cell69,
.cell70 {
  left: 814px;
}
.cell67,
.cell68,
.cell69,
.cell70 {
  left: 897px;
}
.cell68,
.cell69,
.cell70 {
  left: 980px;
  width: 86px;
}
.cell69,
.cell70 {
  left: 1062px;
  width: 87px;
}
.cell70 {
  left: 1145px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell71,
.cell72,
.cell73,
.cell74,
.cell75,
.cell76,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  position: absolute;
  top: 335px;
  left: 649px;
  background-color: var(--color-steelblue-100);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 86px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell72,
.cell73,
.cell74,
.cell75,
.cell76,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 731px;
  width: 87px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell73,
.cell74,
.cell75,
.cell76,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 814px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell74,
.cell75,
.cell76,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 897px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell75,
.cell76,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 980px;
  width: 86px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell76,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1062px;
  width: 87px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell77,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1145px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell78,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1267px;
  background-color: var(--grey-0);
  width: 63px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell79,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1326px;
  width: 145px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell80,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  top: 467px;
  left: 1267px;
  width: 63px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell81,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1326px;
  width: 145px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell82,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  top: 530px;
  left: 650px;
  width: 86px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell83,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 732px;
  width: 87px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell84,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 815px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell85,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 898px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell86,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 981px;
  width: 86px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell87,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1063px;
  width: 87px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell88,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 1146px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell96,
.cell97,
.cell98,
.cell99 {
  left: 479px;
  width: 169px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell97,
.cell98,
.cell99 {
  top: 431px;
  left: 480px;
  background-color: var(--color-aliceblue-100);
  width: 168px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell98,
.cell99 {
  left: 649px;
  width: 86px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108,
.cell99 {
  left: 732px;
}
.cell100,
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108 {
  left: 815px;
}
.cell101,
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108 {
  left: 898px;
}
.cell102,
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108 {
  left: 981px;
}
.cell103,
.cell104,
.cell105,
.cell106,
.cell107,
.cell108 {
  left: 1064px;
}
.cell104,
.cell105,
.cell106,
.cell107,
.cell108 {
  left: 1147px;
}
.cell105,
.cell106,
.cell107,
.cell108 {
  top: 401px;
  left: 1267px;
  width: 60px;
}
.cell106,
.cell107,
.cell108 {
  left: 1326px;
  width: 145px;
}
.cell107,
.cell108 {
  top: 533px;
  left: 1267px;
  width: 60px;
}
.cell108 {
  left: 1326px;
  width: 145px;
}
.div269,
.div270,
.div271,
.div272,
.nv-05 {
  position: absolute;
  height: 2.06%;
  width: 3.72%;
  top: 44.35%;
  left: 33.29%;
  display: inline-block;
}
.div269,
.div270,
.div271,
.div272 {
  width: 6.7%;
  top: 35.2%;
  left: 83.38%;
}
.div270,
.div271,
.div272 {
  top: 41.49%;
}
.div271,
.div272 {
  top: 47.98%;
}
.div272 {
  top: 54.47%;
}
.ca-1,
.ca-11,
.ca-12,
.ca-31,
.ca-32,
.ca-33,
.off,
.off1 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 35.2%;
  left: 79.17%;
  display: inline-block;
}
.ca-11,
.ca-12,
.ca-31,
.ca-32,
.ca-33,
.off,
.off1 {
  top: 44.35%;
  left: 41.41%;
}
.ca-11,
.ca-12,
.ca-31,
.ca-32,
.ca-33,
.off1 {
  top: 53.79%;
  left: 57.28%;
}
.ca-11,
.ca-12,
.ca-31,
.ca-32,
.ca-33 {
  left: 46.93%;
}
.ca-12,
.ca-31,
.ca-32,
.ca-33 {
  top: 44.35%;
}
.ca-12,
.ca-32,
.ca-33 {
  top: 53.79%;
  left: 51.77%;
}
.ca-12,
.ca-33 {
  top: 44.35%;
  left: 67.58%;
}
.ca-33 {
  top: 44.54%;
  left: 72.72%;
}
.ca-22,
.ca-23,
.ca-24,
.ca-34,
.ca-35,
.ca-4,
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  position: absolute;
  height: 2.06%;
  width: 2.98%;
  top: 41.49%;
  left: 79.36%;
  display: inline-block;
}
.ca-23,
.ca-24,
.ca-34,
.ca-35,
.ca-4,
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  top: 44.54%;
  left: 57.22%;
}
.ca-24,
.ca-34,
.ca-35,
.ca-4,
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  top: 53.79%;
  left: 72.72%;
}
.ca-34,
.ca-35,
.ca-4,
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  top: 47.98%;
  left: 79.36%;
}
.ca-35,
.ca-4,
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  top: 53.79%;
  left: 67.45%;
}
.ca-4,
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  left: 41.41%;
}
.ca-41,
.ca-42,
.ca-43,
.ca-44 {
  top: 44.35%;
  left: 51.83%;
}
.ca-42,
.ca-43,
.ca-44 {
  top: 44.54%;
  left: 62.31%;
}
.ca-43,
.ca-44 {
  top: 53.79%;
}
.ca-44 {
  top: 54.47%;
  left: 79.36%;
}
.ch-nht,
.m-nhn-vin3,
.nv-06,
.th-2,
.th-3,
.th-4,
.th-5,
.th-6,
.th-7 {
  position: absolute;
  height: 2.06%;
  width: 3.72%;
  top: 35.1%;
  left: 41.04%;
  display: inline-block;
}
.ch-nht,
.m-nhn-vin3,
.nv-06,
.th-3,
.th-4,
.th-5,
.th-6,
.th-7 {
  left: 46.19%;
}
.ch-nht,
.m-nhn-vin3,
.nv-06,
.th-4,
.th-5,
.th-6,
.th-7 {
  left: 51.33%;
}
.ch-nht,
.m-nhn-vin3,
.nv-06,
.th-5,
.th-6,
.th-7 {
  top: 35.2%;
  left: 56.48%;
}
.ch-nht,
.m-nhn-vin3,
.nv-06,
.th-6,
.th-7 {
  left: 61.56%;
}
.ch-nht,
.m-nhn-vin3,
.nv-06,
.th-7 {
  left: 66.71%;
}
.ch-nht,
.m-nhn-vin3,
.nv-06 {
  width: 4.84%;
  left: 71.36%;
}
.m-nhn-vin3,
.nv-06 {
  width: 3.72%;
  top: 53.79%;
  left: 33.29%;
}
.m-nhn-vin3 {
  width: 8.31%;
  top: 35.1%;
  left: 31.31%;
}
.xc-nhn-thnh-cng-child88,
.xc-nhn-thnh-cng-child89,
.xc-nhn-thnh-cng-child90,
.xc-nhn-thnh-cng-child91 {
  position: absolute;
  top: 874px;
  left: 1468px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.xc-nhn-thnh-cng-child89,
.xc-nhn-thnh-cng-child90,
.xc-nhn-thnh-cng-child91 {
  left: 1442px;
  background-color: var(--color-lightsteelblue-100);
}
.xc-nhn-thnh-cng-child90,
.xc-nhn-thnh-cng-child91 {
  left: 1494px;
}
.xc-nhn-thnh-cng-child91 {
  left: 1520px;
}
.b48,
.b49,
.b50,
.b51 {
  position: absolute;
  top: 881px;
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b49,
.b50,
.b51 {
  left: 1477px;
  width: 8px;
}
.b50,
.b51 {
  left: 1503px;
}
.b51 {
  top: 880px;
  left: 1525px;
  width: 16px;
}
.icon-color1,
.x-attachment-bar-item-19 {
  position: absolute;
  top: 789px;
  left: 1424px;
  width: 48px;
  height: 48px;
}
.icon-color1 {
  height: 2.36%;
  width: 1.49%;
  top: 28.81%;
  right: 9.49%;
  bottom: 68.83%;
  left: 89.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xc-nhn-thnh-cng-child92 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.46);
  width: 1613px;
  height: 1017px;
}
.rectangle127 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-400);
}
.puressio-belnuoritto-bancherio-container18 {
  position: absolute;
  top: 5.76%;
  left: 40.73%;
  display: none;
}
.b52 {
  top: 10.07%;
  left: 287.06%;
}
.b52,
.div274,
.div275 {
  position: absolute;
  display: none;
}
.div274 {
  top: 10.07%;
  left: 310.37%;
  text-align: right;
}
.div275 {
  width: 92.5%;
  top: 7.55%;
  left: 146.48%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v218 {
  position: absolute;
  top: 360px;
  left: 757px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-200);
  width: 382px;
  height: 278px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.cp-nht-thnh1,
.vector-icon202 {
  position: absolute;
  top: 422px;
  left: 908px;
  width: 86px;
  height: 67px;
}
.cp-nht-thnh1 {
  height: 5.51%;
  width: 17.42%;
  top: 52.31%;
  left: 50.4%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alatsi);
  color: var(--color-dodgerblue);
  display: inline-block;
}
.xc-nhn-thnh-cng2 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
