.button-black-child19,
.rectangle245 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-200);
}
.button-black-child19 {
  border-radius: var(--br-3xl) 0 0 var(--br-3xl);
  background-color: var(--color-darkorange);
}
.div324,
.vector-icon241 {
  position: absolute;
  top: 27.27%;
}
.vector-icon241 {
  height: 43.18%;
  width: 14.86%;
  right: 14.86%;
  bottom: 29.55%;
  left: 70.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div324 {
  left: 14.86%;
  font-weight: 500;
}
.button-black21 {
  position: absolute;
  height: 55%;
  width: 9.88%;
  top: 22.5%;
  right: 0;
  bottom: 22.5%;
  left: 90.12%;
  display: none;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.puressio-belnuoritto-bancherio21 {
  margin: 0;
}
.b65,
.div325,
.puressio-belnuoritto-bancherio-container21 {
  position: absolute;
  top: 2.78%;
  left: 15.05%;
  display: none;
}
.b65,
.div325 {
  top: 4.87%;
  left: 106.05%;
}
.div325 {
  left: 114.66%;
  text-align: right;
}
.fa-solidtenge-icon21 {
  height: 16.25%;
  width: 0.67%;
  top: 43.75%;
  right: 15.89%;
  bottom: 40%;
  left: 83.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div326,
.fa-solidtenge-icon21,
.rectangle-icon21 {
  position: absolute;
  display: none;
}
.div326 {
  width: 34.17%;
  top: 3.65%;
  left: 54.11%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangle-icon21 {
  height: 100%;
  width: 8.68%;
  top: 0;
  right: 91.32%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-v221 {
  position: absolute;
  top: 268px;
  left: 453px;
  width: 1034px;
  height: 575px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.n-removebg-preview-4-icon {
  position: absolute;
  top: 13px;
  left: 1442px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.funkydonkey12 {
  color: var(--color-gray-400);
}
.xin-cho-container12 {
  position: absolute;
  width: 21.45%;
  top: 4.23%;
  left: 67.95%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-actor);
  display: inline-block;
  color: var(--color-steelblue-200);
}
.xc-nhn-thnh-cng-child93 {
  position: absolute;
  top: 147px;
  left: 126px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child94,
.xc-nhn-thnh-cng-child95 {
  position: absolute;
  top: 103px;
  left: 285px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1246px;
  height: 2px;
}
.xc-nhn-thnh-cng-child95 {
  top: 931px;
  left: -1px;
  width: 1615px;
}
.xc-nhn-thnh-cng-child99 {
  position: absolute;
  top: 138px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child100,
.xc-nhn-thnh-cng-child101 {
  position: absolute;
  top: 77px;
  left: 147px;
  width: 7px;
  height: 7px;
}
.xc-nhn-thnh-cng-child101 {
  left: 86px;
}
.xc-nhn-thnh-cng-child102 {
  position: absolute;
  top: 88px;
  left: 146px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 50px;
}
.xc-nhn-thnh-cng-child103 {
  position: absolute;
  top: 43px;
  left: 121px;
  width: 7px;
  height: 8px;
}
.xc-nhn-thnh-cng-child104 {
  position: absolute;
  top: 80px;
  left: 98px;
  border-top: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 27px;
  height: 4px;
}
.xc-nhn-thnh-cng-child106 {
  position: absolute;
  top: 76px;
  left: 121px;
  border-right: 4px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 4px;
  height: 55px;
}
.me26 {
  position: absolute;
  top: 83px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.xc-nhn-thnh-cng-child107 {
  position: absolute;
  top: 67px;
  left: 189px;
  width: 37px;
  height: 37px;
}
.xc-nhn-thnh-cng-child108 {
  position: absolute;
  top: 70.4px;
  left: 206.2px;
  width: 9.8px;
  height: 12.6px;
}
.me27,
.xc-nhn-thnh-cng-child109 {
  position: absolute;
  top: 75px;
  left: 197.34px;
  width: 9.66px;
  height: 8.75px;
}
.me27 {
  top: 83px;
  left: 155px;
  font-size: var(--font-size-36xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-gray-300);
  display: inline-block;
  width: 118px;
  height: 52px;
}
.filters-and-view-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
}
.ic-view-module-24px12 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 5.73%;
  bottom: 25%;
  left: 93.02%;
  display: none;
}
.ic-view-list-24px12,
.ic-view-module-24px12,
.vector-icon242 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ic-view-list-24px12 {
  height: 50%;
  width: 1.25%;
  top: 25%;
  right: 3.13%;
  bottom: 25%;
  left: 95.63%;
  display: none;
}
.vector-icon242 {
  height: 31.58%;
  width: 3.35%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 96.65%;
}
.div327,
.div328 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div328 {
  left: 47.15%;
  color: var(--color-gray-100);
}
.vector-parent10 {
  position: absolute;
  height: 47.5%;
  width: 12.45%;
  top: 27.5%;
  right: 56.56%;
  bottom: 25%;
  left: 30.99%;
  display: none;
}
.div330 {
  position: absolute;
  top: 0;
  left: 34.66%;
  font-weight: 600;
  color: var(--color-gray-100);
}
.vector-icon243 {
  position: absolute;
  height: 31.58%;
  width: 4.97%;
  top: 47.37%;
  right: 0;
  bottom: 21.05%;
  left: 95.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent10 {
  position: absolute;
  height: 47.5%;
  width: 8.39%;
  top: 27.5%;
  right: 72.76%;
  bottom: 25%;
  left: 18.85%;
  display: none;
}
.filters-and-view12 {
  position: absolute;
  top: 164px;
  left: 0;
  background-color: var(--color-royalblue);
  width: 1613px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-darkorange);
  font-family: var(--font-sf-pro-display);
}
.left-menu-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
}
.b66 {
  top: 3.44%;
  left: 10.49%;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.b66,
.div331,
.div332,
.g12 {
  position: absolute;
  display: none;
}
.g12 {
  top: 11.85%;
  left: 16.43%;
}
.div331,
.div332 {
  left: 19.93%;
}
.div331 {
  top: 18.55%;
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.div332 {
  top: 25.25%;
}
.div332,
.div333,
.div334 {
  color: var(--color-black);
}
.div333 {
  position: absolute;
  top: 31.95%;
  left: 19.93%;
  display: none;
}
.div334 {
  top: 38.65%;
}
.div334,
.div335,
.div336 {
  position: absolute;
  left: 19.93%;
  display: none;
}
.div335 {
  top: 45.35%;
  color: var(--color-black);
}
.div336 {
  top: 52.05%;
}
.vector-icon244,
.vector-icon245 {
  position: absolute;
  height: 0.81%;
  width: 2.8%;
  top: 10.31%;
  right: 8.74%;
  bottom: 88.87%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon245 {
  height: 1.04%;
  width: 2.18%;
  top: 48.3%;
  right: 9.01%;
  bottom: 50.65%;
  left: 88.81%;
}
.vector-icon246,
.zg12 {
  position: absolute;
  top: 58.75%;
  left: 16.43%;
  display: none;
}
.vector-icon246 {
  height: 1.04%;
  width: 2.18%;
  top: 53.6%;
  right: 9.01%;
  bottom: 45.36%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div337,
.vector-icon247 {
  position: absolute;
  top: 65.45%;
  left: 16.43%;
  display: none;
}
.vector-icon247 {
  height: 1.04%;
  width: 2.18%;
  top: 58.89%;
  right: 9.01%;
  bottom: 40.07%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div338,
.vector-icon248 {
  position: absolute;
  top: 72.15%;
  left: 16.43%;
  display: none;
}
.vector-icon248 {
  height: 1.04%;
  width: 2.18%;
  top: 64.18%;
  right: 9.01%;
  bottom: 34.78%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div339,
.vector-icon249 {
  position: absolute;
  top: 78.85%;
  left: 16.43%;
  display: none;
}
.vector-icon249 {
  height: 1.04%;
  width: 2.18%;
  top: 69.47%;
  right: 9.01%;
  bottom: 29.49%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div340,
.vector-icon250 {
  position: absolute;
  top: 85.55%;
  left: 16.43%;
  display: none;
}
.vector-icon250 {
  height: 1.04%;
  width: 2.18%;
  top: 85.35%;
  right: 9.01%;
  bottom: 13.61%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d24,
.vector-icon251 {
  position: absolute;
  top: 105.65%;
  left: 16.43%;
  display: none;
}
.vector-icon251 {
  height: 1.04%;
  width: 2.18%;
  top: 90.64%;
  right: 9.01%;
  bottom: 8.32%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.d25,
.vector-icon252 {
  position: absolute;
  top: 112.35%;
  left: 16.43%;
  display: none;
}
.vector-icon252 {
  height: 1.04%;
  width: 2.18%;
  top: 80.05%;
  right: 9.01%;
  bottom: 18.9%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div341,
.vector-icon253 {
  position: absolute;
  top: 98.95%;
  left: 16.43%;
  display: none;
}
.vector-icon253 {
  height: 1.04%;
  width: 2.18%;
  top: 74.76%;
  right: 9.01%;
  bottom: 24.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div342 {
  top: 92.25%;
  left: 16.43%;
}
.div342,
.div343,
.vector-icon254 {
  position: absolute;
  display: none;
}
.vector-icon254 {
  height: 1.04%;
  width: 2.18%;
  top: 95.93%;
  right: 9.01%;
  bottom: 3.03%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div343 {
  top: 119.05%;
  left: 16.08%;
}
.left-menu12 {
  position: absolute;
  top: 269px;
  left: 68px;
  width: 286px;
  height: 575px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
.icon17 {
  position: absolute;
  top: 775px;
  left: 287px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.vector-icon255,
.vector-icon256,
.vector-icon257,
.vector-icon258,
.vector-icon259 {
  position: absolute;
  height: 0.46%;
  width: 0.5%;
  top: 52.51%;
  right: 80.29%;
  bottom: 47.03%;
  left: 19.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon256,
.vector-icon257,
.vector-icon258,
.vector-icon259 {
  height: 0.69%;
  width: 0.37%;
  top: 38.84%;
  right: 80.16%;
  bottom: 60.47%;
  left: 19.47%;
}
.vector-icon257,
.vector-icon258,
.vector-icon259 {
  top: 45.92%;
  bottom: 53.39%;
}
.vector-icon258,
.vector-icon259 {
  top: 59.1%;
  bottom: 40.22%;
}
.vector-icon259 {
  top: 65.39%;
  bottom: 33.92%;
}
.danh-mc12,
.phn-cng-vic12,
.qun-l-lng14,
.qun-l-nhn12,
.qut-vn-tay13,
.tnh-lng12 {
  position: absolute;
  height: 2.06%;
  width: 12.65%;
  top: 38.25%;
  left: 6.2%;
  display: inline-block;
}
.danh-mc12,
.phn-cng-vic12,
.qun-l-lng14,
.qut-vn-tay13,
.tnh-lng12 {
  top: 44.84%;
}
.danh-mc12,
.phn-cng-vic12,
.qun-l-lng14,
.qut-vn-tay13 {
  top: 58.01%;
  left: 6.26%;
  color: var(--color-gray-600);
}
.danh-mc12,
.phn-cng-vic12,
.qun-l-lng14 {
  top: 64.6%;
}
.danh-mc12,
.qun-l-lng14 {
  top: 51.43%;
  color: var(--color-dodgerblue);
}
.danh-mc12 {
  top: 308px;
  left: 153px;
  font-size: var(--font-size-6xl);
  line-height: 95%;
  text-transform: uppercase;
  font-family: var(--font-barlow);
  color: var(--color-gray-800);
  width: 127px;
  height: 24px;
}
.icon-color4 {
  position: absolute;
  height: 2.36%;
  width: 1.49%;
  top: 28.61%;
  right: 9.49%;
  bottom: 69.03%;
  left: 89.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle246 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-2);
  width: 118px;
  height: 8px;
  display: none;
}
.cell224,
.cell225,
.cell226,
.cell227,
.cell228,
.cell229,
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  position: absolute;
  top: 328px;
  left: 524px;
  background-color: var(--grey-0);
  border: 2px solid var(--grey-1);
  box-sizing: border-box;
  width: 225px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-233xl);
  align-items: center;
  justify-content: center;
}
.cell225,
.cell226,
.cell227,
.cell228,
.cell229,
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 968px;
  width: 226px;
}
.cell226,
.cell227,
.cell228,
.cell229,
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 1190px;
  width: 225px;
}
.cell227,
.cell228,
.cell229,
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 745px;
  width: 227px;
}
.cell228,
.cell229,
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  top: 721px;
  left: 524px;
  width: 225px;
}
.cell229,
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 968px;
  width: 226px;
}
.cell230,
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 1190px;
  width: 225px;
}
.cell231,
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 745px;
  width: 227px;
}
.cell232,
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  top: 523px;
  left: 525px;
  width: 225px;
}
.cell233,
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 969px;
  width: 226px;
}
.cell234,
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 1191px;
  width: 225px;
}
.cell235,
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 746px;
  width: 227px;
}
.cell236,
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  top: 424px;
  left: 526px;
  background-color: var(--color-aliceblue-100);
  width: 225px;
}
.cell237,
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 970px;
  width: 226px;
}
.cell238,
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 1192px;
  width: 225px;
}
.cell239,
.cell240,
.cell241,
.cell242,
.cell243 {
  left: 747px;
  width: 227px;
}
.cell240,
.cell241,
.cell242,
.cell243 {
  top: 622px;
  left: 524px;
  width: 225px;
}
.cell241,
.cell242,
.cell243 {
  left: 968px;
  width: 226px;
}
.cell242,
.cell243 {
  left: 1190px;
  width: 225px;
}
.cell243 {
  left: 745px;
  width: 227px;
}
.chc-v1,
.h-s-lng1,
.h-v-tn3 {
  position: absolute;
  height: 2.06%;
  width: 5.77%;
  top: 34.32%;
  left: 50.34%;
  display: inline-block;
}
.chc-v1,
.h-s-lng1 {
  width: 4.77%;
  top: 34.61%;
  left: 64.6%;
}
.h-s-lng1 {
  width: 6.82%;
  left: 77.62%;
}
.div344,
.div345,
.div346,
.div347,
.nv-016,
.pha-ch2,
.pha-ch3 {
  position: absolute;
  height: 2.06%;
  width: 3.84%;
  top: 43.66%;
  left: 37.51%;
  display: inline-block;
}
.div344,
.div345,
.div346,
.div347,
.pha-ch2,
.pha-ch3 {
  width: 4.9%;
  top: 44.15%;
  left: 64.66%;
}
.div344,
.div345,
.div346,
.div347,
.pha-ch3 {
  top: 53.2%;
  left: 64.85%;
}
.div344,
.div345,
.div346,
.div347 {
  top: 43.66%;
  left: 78.3%;
}
.div345,
.div346,
.div347 {
  top: 53.1%;
}
.div346,
.div347 {
  top: 63.32%;
  left: 78.12%;
}
.div347 {
  top: 72.76%;
}
.m-nhn-vin6,
.nv-026,
.nv-036,
.nv-046,
.phc-v2,
.phc-v3 {
  position: absolute;
  height: 2.06%;
  width: 4.59%;
  top: 63.32%;
  left: 64.85%;
  display: inline-block;
}
.m-nhn-vin6,
.nv-026,
.nv-036,
.nv-046,
.phc-v3 {
  top: 72.47%;
  left: 64.97%;
}
.m-nhn-vin6,
.nv-026,
.nv-036,
.nv-046 {
  width: 3.84%;
  top: 53.1%;
  left: 37.57%;
}
.m-nhn-vin6,
.nv-036,
.nv-046 {
  top: 63.23%;
  left: 37.63%;
}
.m-nhn-vin6,
.nv-046 {
  top: 73.06%;
  left: 37.51%;
}
.m-nhn-vin6 {
  width: 7.19%;
  top: 34.32%;
  left: 35.96%;
}
.cao-l-tuyt3,
.nguyn-bo-anh3,
.nguyn-th-hong3,
.t-quang-nh3 {
  position: absolute;
  height: 2.06%;
  width: 12.28%;
  top: 43.76%;
  left: 47.86%;
  display: inline-block;
}
.cao-l-tuyt3,
.nguyn-th-hong3,
.t-quang-nh3 {
  width: 13.21%;
  top: 52.9%;
  left: 46.93%;
}
.cao-l-tuyt3,
.t-quang-nh3 {
  top: 63.23%;
  left: 47.43%;
}
.t-quang-nh3 {
  width: 8.31%;
  top: 72.76%;
  left: 49.04%;
}
.x-attachment-bar-item-112 {
  position: absolute;
  top: 788px;
  left: 1424px;
  width: 48px;
  height: 48px;
}
.xc-nhn-thnh-cng-child121 {
  position: absolute;
  top: 546.75px;
  left: 100.75px;
  border-top: 0.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 119.5px;
  height: 0.5px;
}
.xc-nhn-thnh-cng-child122,
.xc-nhn-thnh-cng-child123,
.xc-nhn-thnh-cng-child124,
.xc-nhn-thnh-cng-child125 {
  position: absolute;
  top: 869px;
  left: 1442px;
  border-radius: var(--br-11xs);
  background-color: var(--color-steelblue-200);
  width: 26px;
  height: 29px;
}
.xc-nhn-thnh-cng-child123,
.xc-nhn-thnh-cng-child124,
.xc-nhn-thnh-cng-child125 {
  left: 1468px;
  background-color: var(--color-lightsteelblue-100);
}
.xc-nhn-thnh-cng-child124,
.xc-nhn-thnh-cng-child125 {
  left: 1494px;
}
.xc-nhn-thnh-cng-child125 {
  left: 1520px;
}
.b67,
.b68,
.b69,
.b70 {
  position: absolute;
  top: 876px;
  left: 1452px;
  font-size: var(--font-size-mini);
  line-height: 95%;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-barlow);
  color: var(--color-white);
  width: 6px;
  height: 14px;
}
.b68,
.b69,
.b70 {
  left: 1477px;
  width: 8px;
}
.b69,
.b70 {
  left: 1503px;
}
.b70 {
  top: 875px;
  left: 1525px;
  width: 16px;
}
.rectangle266,
.xc-nhn-thnh-cng-child126 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 1613px;
  height: 1017px;
}
.rectangle266 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-400);
}
.puressio-belnuoritto-bancherio-container22 {
  position: absolute;
  top: 5.76%;
  left: 40.73%;
  display: none;
}
.b71 {
  top: 10.07%;
  left: 287.06%;
}
.b71,
.div349,
.div350 {
  position: absolute;
  display: none;
}
.div349 {
  top: 10.07%;
  left: 310.37%;
  text-align: right;
}
.div350 {
  width: 92.5%;
  top: 7.55%;
  left: 146.48%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.card-v222 {
  position: absolute;
  top: 399px;
  left: 781px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-200);
  width: 382px;
  height: 278px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.cp-nht-thnh2 {
  position: absolute;
  height: 5.51%;
  width: 17.42%;
  top: 55.95%;
  left: 52.7%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alatsi);
  color: var(--color-dodgerblue);
  display: inline-block;
}
.vector-icon261 {
  position: absolute;
  top: 473px;
  left: 941px;
  width: 86px;
  height: 67px;
}
.xc-nhn-thnh-cng3 {
  position: relative;
  width: 100%;
  height: 1017px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
